::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: black;
    opacity: 1; /* Firefox */
  }
  
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: black;
  }
  
  ::-ms-input-placeholder { /* Microsoft Edge */
    color: black;
  }
  .announcement-bar__message {padding-left:65px !important; background:url('https://cdn.shopify.com/s/files/1/0525/1330/8870/files/Image_26_1X_4b27d3f6-ab03-4947-89f1-192ac56b2b9c.png') no-repeat 0 3px;}
  #shopify-section-announcement-bar {margin:0 auto; text-align:center; }
  .announcement-bar .announcement-bar__message {font-size:18px !important;}
  
  .nav {display:block !important;}
  .top_menu {border-bottom: 2px solid #E1E1E1;}
  
  .cart-remove-button .button {min-width:2.5rem !important; min-height:2.5rem !important; border-radius:0;}
  .top_menu div {overflow: auto; white-space: nowrap; text-align: center; }
  .top_menu div a {display:inline-block; padding:10px 10px; color:black; font-size:16px;}
  .top_menu div a:hover {color:#02A96E; font-weight:500;}
  
  .main-megamenu ul.nav>li:nth-child(4),
  .main-megamenu ul.nav>li:nth-child(5){float:right;}
  .main-megamenu ul.nav>li:nth-child(4) .ss_megamenu_title {
    background:url('https://cdn.shopify.com/s/files/1/0525/1330/8870/files/Screen_Shot_2021-10-15_at_3.48.33_PM.png?v=1634327488') no-repeat 0 3px; padding-left:22px;}
  .main-megamenu ul.nav>li:nth-child(5) .ss_megamenu_title {
    background:url('https://cdn.shopify.com/s/files/1/0525/1330/8870/files/Screen_Shot_2021-10-15_at_3.48.26_PM.png?v=1634327489') no-repeat 0 3px; padding-left:22px;}
  
  .active-tab-title span {color:#039f63 !important;}
  
  .rich-text__blocks h2.h1 {font-size:48px; font-weight:600; color:black !important; margin-bottom:30px;}
  .widget-slideshow .coll-slider {width:100% !important;}
  
  
  .button {border-radius:5px;}
  .title-wrapper-with-link {border-bottom:1px solid #EEEFEE; padding-bottom:50px; margin-bottom:70px;}
  .title--primary,.cart__empty-text {font-size:3.5rem; font-weight:700;}
  .title-wrapper-with-link a.underlined-link {color:#039F63;} 
  .button--tertiary:hover {color:red;}
  .cart__items {border-bottom:0 !important;}
  .totals {border-bottom:1px solid #EEEFEE !important; padding-bottom:20px;}
  .cart-items th,.cart-items td {border-bottom:1px solid #EEEFEE !important;}
  .cart-items td {padding-bottom:4rem !important;}
  .cart__warnings a {border-radius:5px; background:#FBB646; color:white;text-decoration:none; padding:10px 80px;}
  /* Thumnail border line
  .products-listing .product-layout .product-item-container:before{
    box-shadow:none !important;
  }
  .products-listing .product-layout .product-item-container {border:1px solid white;}
  .products-listing .product-layout .product-item-container:hover {border:1px solid #ccc; transition:none;-webkit-transition:none }
  .card-wrapper {border:1px solid white;}
  .card-wrapper:hover {border:1px solid #ccc;}
  */
  
  
  .header-top .toplink>div:before {width:0 !important;}
  
  .widget-deals-carousel .products-listing .product-layout .product-item-container {border:0 !important;}
  .widget-deals-carousel .products-listing .product-layout .product-item-container:before {border:0 !important; box-shadow:none !important; }
  .widget-deals-carousel .products-listing .product-layout .product-item-container:hover .countdown_tab .countdown_inner {display:block !important;}
  .widget-deals-carousel .products-listing .product-layout .product-item-container .right-block {position:relative !important;}
  
  
  .announcement-bar .announcement-bar__message {color:white; font-weight:bold;}
  
  .search.search-modal__form {padding-top:32px;}
  .widget-product-tabs .box-title {width:100%; text-align:center !important; padding:50px 0 30px;}
  
  .header-bottom {background:#FAAD3D !important; padding:0 !important;}
  #shopify-section-ss-vertical-menu .widget-verticalmenu #show-verticalmenu {background:#FAAD3D !important;}
  .fixed_menu ul {float:left;}
  .fixed_menu ul li {float:left;}
  .toplink.login {float:right; margin-top:28px;}
  .customer a span {text-decoration:none;}
  
  .space-between {justify-content:space-between; display:flex;}
  .center {justify-content:center;  display:flex;}
  .center a {padding:0 !important; margin:0 20px !important;}
  
  
  #mo_openid_login {justify-content:center;  display:flex;}
  #mo_openid_login a {padding:0 !important; margin:20px 0 !important;}
  
  .line {border-top:1px solid #bbb; position:relative; margin:40px 0 20px; }
  .line p {font-size:12px; color:#666; background:white; position:absolute;text-align:center; top:-26px; left:34%; padding:0 20px;}
  
  /*
  .template-index .page-container {padding-top:540px !important;}
  #shopify-section-template--15124874461382__16263327790c5696ed {position:absolute; left:0; top:0; width:100%; }*/
  
  /*#shopify-section-template--15124874461382__16266771813df417a0 { width:49%; float:left; margin:50px 2% 50px 0;}
  #shopify-section-template--15124874461382__16343340768d0ae320 { width:49%; float:left; clear:inherit !important; margin-top:50px;}
  */
  
  .products-listing .product-layout .product-item-container {padding-bottom:15px !important;}
  #shopify-section-template--15124874461382__16266771813df417a0 .wrap-bg{ width:50%;border:3px solid #F6AC3C; border-radius:10px; }
  #shopify-section-template--15124874461382__16343340768d0ae320 .ltabs-tabs-container { width:50%; margin-left:50%; margin-top:-870px; }
  #shopify-section-template--15124874461382__16266771813df417a0 {height:870px;}
  
  #shopify-section-template--15124874461382__16343340768d0ae320 .products-listing .product-layout .left-block .product-image-container img {max-height:252.5px !important;}
  
  #shopify-section-template--15124874461382__16266771813df417a0 .widget-deals-carousel .product-layout
  {margin:0 !important; padding:0 !important; width:100% !important;}
  #shopify-section-template--15124874461382__16266771813df417a0 .products-listing .product-layout .product-item-container:hover
  {border:0 !important;}
  
  #shopify-section-template--15124874461382__163467720306fd80ea .box-title {padding:50px 0 0 !important;}
  #shopify-section-template--15124874461382__16342501155199b44c {clear:both;}
  #shopify-section-template--15124874461382__1634334424f4623ecb {background:url('https://cdn.shopify.com/s/files/1/0525/1330/8870/files/Screen_Shot_2021-10-19_at_5.30.15_PM.png?v=1634679027') no-repeat center 0;background-size: cover; padding:93px 0;}
  .banner-video {width:60%; float:left; padding-right:5%;}
  .banner-video iframe {width:100% !important;}
  #shopify-section-template--15124874461382__1634334424f4623ecb .banner__box {width:35%; float:left;}
  #shopify-section-template--15124874625222__163467977455415340 .widget-title.hidden {display:block !important;}
  #shopify-section-template--15124874625222__163467977455415340,
  
  .widget-deals-carousel .box-title {padding-top:0;}
  /*landing*/
  #shopify-section-template--15124874625222__16347545735c4655d0 {width:100%; background:url('https://cdn.shopify.com/s/files/1/0525/1330/8870/files/unnamed.jpg?v=1635366287') no-repeat center; background-size:100%; position:relative; height:auto;}
  #shopify-section-template--15124874625222__16347545735c4655d0 .landing {text-align:center; padding:11% 0;}
  .zipcode_area {color:white; font-size:18px; font-weight:500; }
  .zipcode_area input 
  {background:white url('https://cdn.shopify.com/s/files/1/0525/1330/8870/files/Image_1_1X_e319cf4c-4ac4-42f5-9a0e-434f49d7aa5a.png?v=1634686223') no-repeat 20px center;border-radius:10px; margin:3% 6px 0 0;
  padding:10px 10px 10px 60px; width:330px; border:1px solid black; color:black; font-size:18px; font-weight:bold;}
  .zipcode_area a {background:#FBB646; padding:15px 40px; font-size:18px; font-weight:700; border-radius:10px !important; color:black !important;}
  .zipcode_area a:hover {color:white !important; }
  
  .btn_y {border:0 !important; width:auto !important; background:#FBB646 !important; padding:5px 60px !important; font-size:12px !important; font-weight:bold !important;border-radius:5px !important; color:white !important;height:auto  !important;}
  .btn_y_2 {border:0 !important; width:auto !important; background:#FBB646 !important; padding:5px 20px !important; font-size:12px !important; font-weight:bold !important;border-radius:5px !important; color:white !important;height:auto  !important;}
  
  #shopify-section-template--15124874461382__163432893146a36e48 {background:#F7F7F7; padding:50px 0;}
  #shopify-section-template--15124874625222__163467977455415340{background:#F7F7F7; padding-bottom:50px; margin-bottom:50px;}
  
  
  .landing_banner {position:relative; display:flex; margin-bottom:100px;background:url('https://cdn.shopify.com/s/files/1/0525/1330/8870/files/Screen_Shot_2021-10-29_at_4.24.48_PM.png?v=1635539106') no-repeat 0 0; background-size:100%; height:auto; }
  .landing_banner a {height:53px; color:black; background:#FBB646; padding:10px 20px; font-size:18px; font-weight:500; border-radius:10px !important; vertical-align:middle; text-decoration:none; border:0 !important;}
  .landing_banner a:hover {color:white; }
  .landing_banner .button1 {margin:19% 0 0 4%;}
  .landing_banner .button2 {margin:57% 0 0 44%;}
  
  #shopify-section-template--15124874625222__1634755924f5fb4d1c 
  {background:#F6AC3B url('https://cdn.shopify.com/s/files/1/0525/1330/8870/files/Screen_Shot_2021-10-20_at_1.47.51_PM.png?v=1634752227') no-repeat 0 0; background-size:100%; margin-bottom:30px;}
  
  .product-single  {padding-top:50px; }
  
  
  header .col-lg-2.col-sm-2 {padding:0 !important;}
  
  /*.fa-user:before {content:none !important;}*/
  .header.header-style1 .toplink-item.account .account-right>a {background:#F6AC3C ; border-radius:10px;font-weight:bold;padding:0 10px;}
  .log_in a:hover {color:#F6AC3C  !important;}
  
  .search-modal__form .search__button {background:#F6AC3C !important;}
  
  .widget-collection .collections .collect:hover {border:1px solid white !important;}
  .widget-product-tabs .wrap-bg {border-top:0 !important;}
  .widget-product-tabs .tabs-menu {width:100%;}
  .widget-product-tabs .ltabs-tabs-container .tabs-menu .tabs-menu_title li.current span, .widget-product-tabs .ltabs-tabs-container .tabs-menu .tabs-menu_title li:hover span 
  {border-bottom:0 !important;}
  .widget-product-tabs .ltabs-tabs-container .tabs-menu .tabs-menu_title li.current span:before, .widget-product-tabs .ltabs-tabs-container .tabs-menu .tabs-menu_title li:hover span:before
  {content:none !important;}
  .widget-product-tabs .ltabs-tabs-container .tabs-menu .tabs-menu_title li.current span,
  .widget-product-tabs .ltabs-tabs-container .tabs-menu .tabs-menu_title li>span
  {font-size:18px !important; font-weight:600;}
  .widget-deals-carousel .products-listing .product-layout .product-item {padding:0 !important;}
  
  .widget-deals-carousel .title-vendor {display:none;}
  .widget-deals-carousel .product-name {font-size:24px; margin-bottom:40px !important;}
  .widget-deals-carousel .products-listing .product-layout .product-item-container .right-block .caption h4 {font-size:24px; margin-bottom:20px !important; min-height:30px;}
  .widget-deals-carousel .price-new {font-size:24px !important; font-weight:normal !important;}
  .widget-deals-carousel .price-old {font-size:20px !important;}
  .widget-deals-carousel .caption {width:80% !important; margin:0 auto !important;}
  
  .widget-deals-carousel .products-listing .product-layout .product-item-container,
  .widget-deals-carousel .products-listing .product-layout .product-item-container{padding-bottom:0 !important; margin-bottom:0 !important;}
  
  .label-product {height:46px !important; top:8px !important; border-radius:20em !important;  text-align:center; font-weight:bold !important; line-height:1.2em !important;}
  .label-product.label-sale {padding-top:10px;}
  .label-product.label-new {padding-top:17px;}
  .label.label-stock {bottom:0 !important; left:0 !important; }
  .label.label-stock.label1, .label.label-stock.label2 {background:#FF8FAB !important;font-weight:bold !important;}
  .countdown_tab {border:0 !important; position:relative !important; width:80% !important; margin:0 auto;}
  .countdown_inner:before{
    content: "End In :"; }
  .countdown_inner,
  .countdown_inner .num-time {font-size:34px; font-family: Roboto !important; color:#FA3D3D !important; padding:0 !important; margin:0 !important; font-weight:600;}
  .box-price .price-new, .price .price-new,
  .box-price span.price-regular, .price span.price-regular{color:black !important; font-weight:500 !important;}
  .product-name {height:30px;overflow:hidden;}
  
  
  .products-listing .product-layout .product-item {min-height:413px; position:relative;}
  .products-listing .product-layout .left-block .product-image-container {vertical-align:middle;}
  
  #shopify-section-template--15124874461382__163433212238c8e513 .products-listing .product-layout .left-block .product-image-container> {max-height:220px;}
  .products-listing .product-layout .product-item-container .left-block .product-image-container>a {min-height:220px; vertical-align:middle;}
  .products-listing .product-layout .product-item-container .right-block .caption h4 {min-height:48px; font-weight:500 !important;}
  .widget-deals-carousel .owl-carousel .owl-item img {max-height:573px !important; width:100% !important; }
  .media>img {max-height:550px;}
  
  .products-listing .product-layout .product-item-container .right-block {position:absolute; background:white; bottom:6%;padding:0 15px !important;}
  
  .banner-video iframe {border:1px solid black;}
  .banner__box h2 {font-size:48px !important; color:black!important; font-weight:bold;}
  .banner__box .banner__text {font-size:24px !important; color:#666!important; line-height:1.3;}
  .banner__box a.button {font-size:1.8rem !important; border:3px solid #FF4A4A !important; background:none !important; color:#FF4A4A !important; font-weight:bold; box-shadow:none !important;opacity:1 !important; border-radius:10px; }
  .banner__box .banner__buttons {margin:5rem 0 0 0 !important;}
  
  footer {padding-top:30px;}
  footer,.footer__content-bottom {background:#F7F9FB !important; color:black !important;}
  .footer-block--newsletter {background:url('https://cdn.shopify.com/s/files/1/0525/1330/8870/files/Screen_Shot_2021-10-27_at_12.26.15_PM.png?v=1635352007') no-repeat 0 0;}
  footer .footer-center .footer-main {width:68%; float:left;}
  footer .footer-center .footer__content-top {width:29%; float:left; border-left:1px solid #F0F0F0;padding-left:3%; margin-bottom:30px;}
  footer .logo img {width:150px;}
  .footer__content-bottom {clear:both; border-top:1px solid #F0F0F0;}
  footer .social {margin-right:10%;}
  
  
  #shopify-section-template--15124874461382__1634333008c560bc0e .box-title {margin-bottom:50px;}
  .main-megamenu ul.nav>li>a:hover {color:white !important;}
  
  .positon-sidebar {padding-top:20px;}
  #shopify-section-template--15124874461382__1634333008c560bc0e {position:relative;}
  #shopify-section-template--15124874461382__1634333008c560bc0e .owl-nav {position:absolute; top:-55px; right:0;}
  #shopify-section-template--15124874461382__1634333008c560bc0e .owl-nav>div {display:inline-block; padding:0 5px;}
  #shopify-section-template--15124874461382__1634333008c560bc0e .owl-nav>div>i {font-size:32px;} 
  
  #shopify-section-template--15124874625222__1634755924f5fb4d1c #header {display:none !important;}
  #shopify-section-template--15124874625222__16347570826dd2ec25 .rich-text .rich-text__blocks h2.h1 {margin-bottom:0 !important;padding:30px 0 0 !important;}
  #looxReviews {max-height:570px !important; overflow:hidden;}
  .instagram h1 {color:#FBB646 !important; text-align:center; font-size:48px; font-weight:700; margin-top:30px;}
  .instagram p { margin-bottom:30px; text-align:center; color:#FBB646 !important; font-size:24px !important; vertical-align:middle; }
  .instagram p img {width:auto !important; margin-right:10px;}
  /* zip code */
  
  .zipcode {margin-top:39px;}
  .zipcode a {min-height:30px; font-size:18px; font-style:normal !important; color:#039F63; 
    background:url('https://cdn.shopify.com/s/files/1/0525/1330/8870/files/Screen_Shot_2021-10-15_at_4.02.52_PM.png?v=1634328194') no-repeat 0 50%; padding-left:25px;}
  /* Popup container - can be anything you want */
  .popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* The actual popup */
  .zip_popup {visibility: hidden;  }
  .zip_pop { position: fixed;top:10%;  z-index: 3;border:5px solid #E7E8E7; padding: 5%;  border-radius:20px;text-align: center;}
  .zip_pop.pop1 {width: 50%;left: 25%;background-size:100% !important; background:white url('https://cdn.shopify.com/s/files/1/0525/1330/8870/files/Screen_Shot_2021-10-20_at_6.31.11_PM.png?v=1634769098') no-repeat center 0;}
  .zip_pop.pop2 {width: 70%;left: 15%;padding-bottom:8%; background-size:100% !important; background:white url('https://cdn.shopify.com/s/files/1/0525/1330/8870/files/Screen_Shot_2021-10-20_at_1.48.22_PM.png?v=1634752228') no-repeat center 0;}
  .zip_pop.pop3 {width: 70%;left: 15%; top:2%; padding-bottom:2%; background-size:100% !important; background:white url('https://cdn.shopify.com/s/files/1/0525/1330/8870/files/Screen_Shot_2021-10-20_at_1.49.06_PM.png?v=1634752228') no-repeat center 0;}
  
  .zip_pop .close {position:absolute; top:1%; right:5%; font-size:90px; color:black; opacity:1; font-weight:normal !important;}
  .zip_pop h1 {font-size:48px; color:black !important; font-weight:600;}
  .zip_pop input {background:none !important; padding:10px; text-align:center; border:1px solid black; color:black; font-weight:bold; border-radius:10px;}
  .zip_pop a.button {background:#FBB646; color:black; padding:15px 50px; font-size:18px; font-weight:700; border-radius:10px !important;}
  .zip_pop a.button:hover {color:white;}
  .zip_pop h1 span {color:#FBB646;}
  .zip_pop p {color:black; font-size:24px; margin-bottom:30px;}
  .zip_pop.pop2 h1 {margin:10px 0 78px !important; }
  .zip_pop.pop2 a.button {font-size:24px !important; padding:20px 100px;}
  .zip_pop.pop1 input {margin:20px 0 40px; width:80%;}
  .zip_pop.pop3 input {width:40%;}
  .zip_pop.pop3 .pickup {background:url('https://cdn.shopify.com/s/files/1/0525/1330/8870/files/Screen_Shot_2021-10-20_at_1.48.51_PM.png?v=1634752227') no-repeat center 0; padding-top:78px; margin-top:50px;}
  .zip_pop.pop3 .pickup a {color:#FBB646; font-size:13px;}
  .show {visibility: visible;}
  
  
  
  .product-single .product-media.thumbnais-bottom .slider-nav .slick-slide {width:auto !important; max-width:200px; padding:0;}
  .product-form__input {border-top:2px solid #F7F7F7 !important; padding-top:50px !important;}
  .quantity {background:#F7F7F7 ;}
  .quantity__input {font-weight:700; color:black;}
  .simpAskQuestionForm-btnOpen {color:white !important;}
  .simpAskQuestionForm-btnOpen:hover {background:#FBB657 !important;}
  .icon-simp-help-circled:before {color:black !important; font-size:14px;}
  .at-style-responsive .at-share-btn {background:#FBB657 !important; border-radius:50rem !important;}
  .simpAskQuestion-Qcontent {color:#666;}
  
  .customer h1 {font-size:36px; font-weight:700 !important; margin-bottom:100px;}
  .customer button {width:100%; border-radius:5px;}
  #shopify-section-template--15124874395846__16352755734cf03a76 .box-title {text-align:left !important; font-size:36px !important;}
  
  
  .contact_form {background:#F7F7F7; padding:45px 0 38px 47px; border-radius:2rem; margin:30px 0 0 45px;}
  .info-content h3 {margin-bottom: 15px;font-weight: 400;color: #000;font-size: 24px;}
  .contact-des a {text-decoration:underline !important;}
  .center {margin:0 auto;}
  .page-contact .contact-form .btn_y {margin:70px auto !important; display:block !important; border:0 !important; padding:15px 60px !important;}
  .page-contact .contact-form input {margin-bottom:18px !important;}
  
  .sub-title {text-align:center; width:100%; margin:30px 0;}
  .sub-title h2 {font-size:36px !important; font-weight:700 !important; }
  .sub-title p {font-size:24px !important; font-weight:400 !important; color:#666;}
  

  /* FAQ */
  #faq-plus-app {width:100%; max-width:1200px; margin:0 auto 100px; padding:0 2%;}
  #faq-plus-app .faqPlusAppFaq {border:1px solid #F0F0F0; border-radius:3px; margin:10px 0 20px !important;}
  #faq-plus-app .introTextFaqPlus {display:none;}
  #faq-plus-app .faqPlusAppTitle {padding:1.2em 2em !important;}
  #faq-plus-app .faqPlusAppContent>div {padding:1.2em 2em 2em !important;}
  




  /* display none */
  .header.header-style1 .wishlist,
  .cart-title,
  .minicart-header,
  .heroCarousel--item .heroCarousel-content,
  #shopify-section-template--15124874461382__1634333735fa99f0aa .products-listing,
  #shopify-section-template--15124874461382__16343340768d0ae320 .tabs-menu,
  #shopify-section-template--15124874461382__16343324527d815847 .tabs-menu,
  #shopify-section-template--15124874461382__163433212238c8e513 .tabs-menu,
  .countdown_inner .title-time,
  #shopify-section-template--15124874461382__163467720306fd80ea .placeholder-noblocks,
  #shopify-section-template--15124874625222__1634684247c3f1d659 .tabs-menu,
  #shopify-section-template--15124874625222__163468443659ec9926 .tabs-menu,
  #shopify-section-template--15124874395846__16352755734cf03a76 .tabs-menu,
  #rap__med__insta_title,
  .collection-info.banners
  {display:none;}
  /* display none */



  /* media query */

  @media screen and (max-width: 560px) {
    #shopify-section-template--15124874461382__16266771813df417a0 .wrap-bg{ width:100%;  }
    #shopify-section-template--15124874461382__16266771813df417a0 {height:auto !important;}
    #shopify-section-template--15124874461382__16343340768d0ae320 .ltabs-tabs-container { width:100%; margin:30px 0 !important; }
    footer .social {margin-right:0 !important;}
    .widget-deals-carousel .box-title h3 {font-size:20px !important; margin-right:20px !important;}
    .widget-deals-carousel .box-title .sub_title {font-size:14px !important; margin-top:38px !important; }
    #shopify-section-template--15124874461382__1634334424f4623ecb {padding:20px 0 !important;}
    #shopify-section-template--15124874461382__1634334424f4623ecb .banner__content {display:block !important;}
    #shopify-section-template--15124874461382__1634334424f4623ecb .banner-video {display:block !important;width:100% !important; text-align:center;}
    #shopify-section-template--15124874461382__1634334424f4623ecb .banner-video iframe {width:auto !important; height:300px !important;}
    #shopify-section-template--15124874461382__1634334424f4623ecb .banner__box  {display:block !important;width:100% !important; text-align:center;}
    #shopify-section-template--15124874461382__1634334424f4623ecb .banner__box h2 {font-size:18px !important;}
    #shopify-section-template--15124874461382__1634334424f4623ecb .banner__text {font-size:14px !important;}
    #shopify-section-template--15124874461382__1634334424f4623ecb .banner__content {padding-top:2rem !important;}
    .box-title {font-size:30px;}
    #shopify-section-template--15124874461382__1634333008c560bc0e .owl-carousel.owl-drag .owl-item {width:80px !important;}
    #shopify-section-template--15124874461382__1634333008c560bc0e .widget-collection .collections .collect .collection-name{font-size:14px !important;}
    .landing_banner a {padding:3px 5px; font-size:12px; height:30px; }
    .landing_banner .button2 {margin:56% 0 0 35% !important;}
    #shopify-section-template--15124874625222__main .landing .zipcode_area {top:20%;}
    .zipcode_area input {padding:10px 10px 10px 60px; width:200px; font-size:14px;}
    .zipcode_area a {padding:15px 10px; font-size:14px; width:200px; }
    .countdown_inner, .countdown_inner .num-time {font-size:26px !important;}
    .widget-deals-carousel .product-name {font-size:18px !important;}
    .box-price .price-old, .price .price-old {margin-left:10px !important;}
    .footer-block--newsletter {display:none;}
    .footer__column--info {display:block !important;}
    footer .copyright__content {width:100% !important;}
    footer .social {width:100% !important; text-align:center;}
    footer .footer-block h3.footer-block-title {font-size:8px !important;}
    #shopify-section-template--15124874461382__1634333008c560bc0e .box-title {margin-bottom:0 !important;}
    .products-listing .product-layout .left-block .product-image-container img {max-height:100% !important;}
  }
  
  @media screen and (min-width: 560px) and (max-width: 965px) {
    #shopify-section-template--15124874461382__16266771813df417a0 {height:auto;}
    #shopify-section-template--15124874461382__16266771813df417a0 .wrap-bg{ width:100%; }
    #shopify-section-template--15124874461382__16343340768d0ae320 .ltabs-tabs-container { width:100%; margin:30px 0 !important; }
    .landing_banner a {padding:5px 10px; font-size:14px; height:37px;} 
    .footer-block--newsletter {display:none;}
  
  }
   
  @media screen and (min-width: 966px) and (max-width: 1192px) {  
    .widget-deals-carousel .box-title .sub_title {margin:-20px 38px 20px!important;}
    
  }
  
  @media screen and (max-width: 984px) {
    footer .footer-center .footer-main {width:100% !important;}
    .zipcode {position:absolute; top:21px !important; right:5% !important; }
    .zipcode a {font-size:14px !important; padding:3px 0 3px 23px !important; font-weight:500;}
    .zip_pop {width:80% !important; left:10% !important;}
    .zip_pop .close {font-size:30px !important;}
    .zip_pop h1 {font-size:24px !important;}
    .zip_pop input {margin:10px 0 20px; padding:5px !important; }
    .zip_pop a.button {padding:5px 20px !important; font-size:14px !important;}
    .zip_pop p {font-size:14px !important; margin-bottom:10px !important;}
    .zip_pop.pop3 .pickup {margin-top:20px !important;}
    .top_menu div a {font-size:14px !important;}
    .rich-text__blocks h2.h1 {font-size:24px !important; padding:20px 0 !important;}
    .box-title {padding:20px 0 !important;}
    .products-listing .product-layout .product-item {min-height:348px !important;}
    .products-listing .product-layout .product-item-container .left-block .product-image-container>a {min-height:auto !important;}
    .products-listing .product-layout .product-item-container .right-block {position:relative !important;}
  }
  
  @media screen and (min-width: 984px) and (max-width: 1200px) {
    .zipcode a,
    .log_in a,
    .header.header-style1 .toplink-item.account .account-right>a {font-size:12px !important;}
  }
  
  
