body {font-family: 'Barlow', sans-serif; font-size:12px; background:url('../img/bg2.gif') repeat-x bottom;background-attachment: fixed;}
/* header*/
h1 {position:fixed; top:0; left:0;}
#texteffect {position:fixed; top:20%}
#texteffect h2{
font-family: 'Shadows Into Light', cursive;
padding:0 30px; margin:10px 0;
-webkit-animation-name: slider; 
-webkit-animation-duration: 2s;
-webkit-animation-timing-function:ease-in-out;
opacity: 0.3;
}

#texteffect h2.word2{animation-delay:0.5s; -webkit-animation-delay:0.5s;}
#texteffect h2.word3{animation-delay:1.0s; -webkit-animation-delay:1.0s;}
#texteffect h2.word4{animation-delay:1.5s; -webkit-animation-delay:1.5s;}

@-webkit-keyframes slider {
       from {-webkit-transform: translateX(150px); opacity: 0;}
       to{-webkit-transform: translateX(0px); opacity: 1;}        
}

/* gallary */
.container {
	display: -ms-flexbox; /* IE10 */
	display: flex;
	-ms-flex-wrap: wrap; /* IE10 */
	flex-wrap: wrap;
	padding: 0 4px;
	width:80%;
	float:right;
  }
  
  /* Create four equal gallarys that sits next to each other */
  .gallary {
	-ms-flex: 25%; /* IE10 */
	flex: 25%;
	max-width: 25%;
	padding: 0 4px;
  }
  
  .gallary img {
	margin-top: 8px;
	vertical-align: middle;
	width: 100%;
  }
  
.gallary li {list-style:none; margin-top:10px;}

.gallary img{
	/*position:absolute;*/
	z-index:1;
	width:100%; height:auto; 
	margin:0;
	box-shadow:0 0 3px black;
	-webkit-transition:all .5s cubic-bezier(.6,2,.4,1);
	-moz-transition:all .5s cubic-bezier(.6,2,.4,1);
		-ms-transition:all .5s cubic-bezier(.6,2,.4,1);
		-o-transition:all .5s cubic-bezier(.6,2,.4,1);
			transition:all .5s cubic-bezier(.6,2,.4,1);
}
.gallary li:hover img{
	z-index:5;
	-webkit-transform: scale(1.5);
	-moz-transform: scale(1.5);
		-ms-transform: scale(1.5);
		-o-transform: scale(1.5);
			transform: scale(1.5);
	box-shadow:0 0 10px black;
}
.gallary:hover li:not(:hover) img{
	-webkit-filter: grayscale(1) blur(5px);
	-moz-filter: grayscale(1) blur(5px);
		-ms-filter: grayscale(1) blur(5px);
		-o-filter: grayscale(1) blur(5px);
			filter: grayscale(1) blur(5px);
}


footer {position:fixed; bottom:0; left:20px;}
footer .btn-link {color:black;}
/* Media queries */
@media screen and (max-width:768px) {
	.container {width:100% !important; float:none !important;}
	header {background:white; position:fixed; height:65px; width:100%;z-index:10;}
	h1 img {width:50%; position:relative;}
	#texteffect {position:fixed; top:10px; left:80px;}
	#texteffect h2{font-size:1.3rem; float:left; padding:0 5px; margin:10px 0; letter-spacing:0.1rem;}
	footer {clear:both; position:relative; width:100%; text-align: center; top:0; left: 0; padding-top:100px;}
	.gallary {
	  -ms-flex: 50%;
	  flex: 50%;
	  max-width: 50%;
	  width:100% !important; 
	  float:none !important;
	}
  }
  
  /* Responsive layout - makes the two gallarys stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
	.gallary {
	  -ms-flex: 100%;
	  flex: 100%;
	  max-width: 100%;
	}
  }
  
