@charset "utf-8";
.skipnav {position: fixed;width: 100%;background: #000;color: #fff;text-align: center;z-index: 5}
.skipnav a {display: block;color: #fff;font-weight: bold;width: 0;height: 0;line-height: 0;font-size: 0}
.skipnav a:focus, .skip a:active {display: block;padding: 0.5rem 0;width: auto;height: auto;line-height: 1.5;font-size: 1.4rem}

#header {border-top:1px solid #eee; border-bottom:1px solid #eee; width: 100%; background:white;position:relative; z-index:3;}
#header.action {position: fixed;top:0;}
#header:after {content: '';clear: both;display: block}
#header > .navi > h1 > a{display:block; width:10rem; height:4rem; background:url(../images/logo.svg) no-repeat center center; background-size:contain;}
#header .navi {max-width:152rem; margin:0 auto; display: flex; display: -webkit-box;  display: -moz-box; display: -ms-flexbox; display: -webkit-flex; display: -webkit-box;  display: -moz-box; display: -ms-flexbox; display: -webkit-flex; justify-content: space-between; -webkit-box-pack: justify; -moz-box-pack: justify; -ms-flex-pack: justify; -webkit-justify-content: space-between;align-items: center; -webkit-box-align: center; -moz-box-align: center; -ms-flex-align: center; -webkit-align-items: center;}
#header > .navi > .m_menu {display:none;}
#header .member {display: flex; display: -webkit-box;  display: -moz-box; display: -ms-flexbox; display: -webkit-flex; display: -webkit-box;  display: -moz-box; display: -ms-flexbox; display: -webkit-flex; align-items: center; -webkit-box-align: center; -moz-box-align: center; -ms-flex-align: center; -webkit-align-items: center;}
#header .member li {padding-left:2.5rem; font-size:1.5rem;}
#header .member li.search_open_btn a {display:block; position:relative; height:2rem;}
#header .member li.logout,
#header .member li.login {margin-right:2.5rem;}
#header .member li.login a {display:block; border:1px solid black; border-radius:30rem; padding:0.6rem 2rem;}
#header .member li.my_account a{position:relative; padding-left:4rem;}
#header .member li.my_account a::before{content:''; display:block; width:3rem; height:3rem; position:absolute; top:-0.5rem; left:0; background:url(../images/icon/icon_account.png) no-repeat 0 0; background-size: contain;}
#header .member li.search_open_btn a::after{content:'';position:absolute;right:0.5rem;top:0.2rem;width:1.8rem;height:1.8rem;border:2px solid  #000;border-radius:100%;}
#header .member li.search_open_btn a::before{content:'';position:absolute;right:0.3rem;top:1.8rem;width:0.5rem;height:0.2rem;transform:rotate(45deg);background-color:#000;}
#header .member li.search_open_btn {width:3rem;}
#header .member li .all_menu .line_wrap{position:relative;}
#header .member li .all_menu .line{width:2rem;height:0.2rem;background-color:black;display:block;margin:0.4rem auto;border-radius:0.2rem;transition:width .3s ease-in-out,transform .3s ease-in-out;}
#header .member li .all_menu .line:nth-child(3){width:1.4rem;margin-left:0.6rem;}

/* Sitemap */
nav.sitemap_view {position:fixed; display:block; top:0; left:0; width:100%; height:100vh; background:white; overflow:scroll; z-index:4;}
nav.sitemap_view .all_menu_title {display:block; font-size:4rem;  text-align:center; margin:3rem 0;}
nav.sitemap_view .all_menu_close {display:block; position:absolute; top:2rem; right:2rem; z-index:5;}
nav.sitemap_view .all_menu_close a {display:block; width:7rem;height:7rem;}
nav.sitemap_view .all_menu_close a::before {content: '';  position: absolute; right:50%; top: 0; width: 0.1rem; height: 5rem; transform: rotate(45deg); background-color: black;}
nav.sitemap_view .all_menu_close a::after {content: '';  position: absolute; right:50%; top: 0; width: 0.1rem; height: 5rem; transform: rotate(135deg); background-color: black;}
nav.sitemap_view > .gnb {width:100%; position:relative; margin-top:5rem;}
nav.sitemap_view > .gnb > li {float:unset; overflow:hidden; display:block;}
nav.sitemap_view::before {content:''; display:block; width:25%; position:fixed; top:0; left:0; height:100%; background:#F2F6FF; }
nav.sitemap_view > .gnb > li > a {display:block; width:25%; float:left; font-size:4rem; color:#2D62C5; font-weight:500; margin-top:4rem;}
nav.sitemap_view > .gnb > li > div.depth {display:block; width:75%; max-width:122rem; float:left; padding-left:4rem; position:relative; top:0 !important; box-shadow:none; background:none; border-bottom:1px solid #2D62C5;}
nav.sitemap_view > .gnb > li > div.depth > ul { width:100%; padding:5rem 0; display: flex; display: -webkit-box;  display: -moz-box; display: -ms-flexbox; display: -webkit-flex;flex-wrap: wrap; -webkit-box-lines: multiple; -moz-box-lines: multiple; -ms-flex-wrap: wrap; -webkit-flex-wrap: wrap;}
nav.sitemap_view > .gnb > li > div.depth > ul > li {width: calc(33.3% - 8rem); margin-right:12rem; margin-bottom:3rem;}
nav.sitemap_view > .gnb > li > div.depth > ul > li:nth-child(3n+0) {margin-right:0;}
nav.sitemap_view > .gnb > li > div.depth > ul > li > a{display:block; border:1px solid #2D62C5; padding:1rem 2rem 0.6rem;}
nav.sitemap_view > .gnb > li > div.depth > ul > li > ul {left:auto; position:relative; top:2rem; overflow:hidden; display:block !important; box-shadow:none; background:none; min-height:15rem;}
nav.sitemap_view > .gnb > li > div.depth > ul > li > ul > li > a {padding:0.5rem 0 0.5rem 1rem; font-size:1.5rem; color:#666;}

nav.sitemap_view > .gnb > li > .depth > ul > li > ul > li > a {display: block; padding-left:1rem; position:relative;}
nav.sitemap_view > .gnb > li > .depth > ul > li > ul > li > a::before {content: ''; display:block; position:absolute;left:0; top:50%; width:0.2rem; height:0.2rem; background:black; }
nav .all_menu_title {display:none;}
nav .all_menu_close {display:none;}
nav.sitemap_view > .gnb > li > .depth span {display:none;}
nav.sitemap_view .member {display:none;}
/* 모바일에서만 보임 
nav.sitemap_view #gnb_myroom {display:block;}
#gnb_myroom {display:none}
#gnb_myroom.on {display:block}*/

/* header search */
#header.action + .top_search {top:5rem;}
.top_search {display:none; position:fixed; top:6rem; left:0; z-index:3; width:100%; background:white;box-shadow:5px 10px 10px 0 #eee; text-align:center; height:70vh;}
.header.action + .top_search.active {top:5rem;}
.top_search .top_search_close {position: absolute;top: 6rem;right: 11%; }
.top_search .top_search_close a {display:block; width:7rem;height:7rem;}
.top_search .top_search_close::before {content: '';  position: absolute; right:50%; top: 0; width: 0.1rem; height: 7rem; transform: rotate(45deg); background-color: black;}
.top_search .top_search_close::after {content: '';  position: absolute; right:50%; top: 0; width: 0.1rem; height: 7rem; transform: rotate(135deg); background-color: black;}
.top_search input[type="text"] {border:4px solid #2D62C5; border-radius:10rem; font-size:2.2rem; padding:3.6rem 3rem; width:50%; margin:18rem 0 5rem;}
.top_search .btn_search {position:relative; top:5em; right:6rem; width:3rem; height:3rem;}
.top_search .btn_search::after{content:'';position:absolute;right:0.5rem;top:0.2rem;width:1.8rem;height:1.8rem;border:2px solid  #000;border-radius:100%;}
.top_search .btn_search::before{content:'';position:absolute;right:0.3rem;top:1.8rem;width:0.5rem;height:0.2rem;transform:rotate(45deg);background-color:#000;}
.top_search dl.recommend {display: flex; display: -webkit-box;  display: -moz-box; display: -ms-flexbox; display: -webkit-flex; width:100%; max-width:110rem; margin:0 auto; flex-wrap: wrap; -webkit-box-lines: multiple; -moz-box-lines: multiple; -ms-flex-wrap: wrap; -webkit-flex-wrap: wrap;justify-content: center; -webkit-box-pack: center; -moz-box-pack: center; -ms-flex-pack: center; -webkit-justify-content: center; gap:2rem;}
.top_search dl.recommend dt {position:relative; margin:1rem 1rem 0 0; padding-left:3rem; color:#666; font-size:1.4rem; }
.top_search dl.recommend dt::after{content:'';position:absolute;left:0.5rem;top:0.2rem;width:1.5rem;height:1.5rem;border:2px solid  #666;border-radius:100%;}
.top_search dl.recommend dt::before{content:'';position:absolute;left:1.7rem;top:1.4rem;width:0.5rem;height:0.2rem;transform:rotate(45deg);background-color:#666;}
.top_search dl.recommend dd a {display:block; padding:0.7rem 2rem; color:#666; border-radius:10rem; background:#eee;}

/* utility (디자인 미적용) */
.utility {background-color: #2D62C5;}
.utility div{max-width:152rem; margin:0 auto; padding: 1.65rem 0; color:white;}
.utility div::after {content: "";display: table;clear: both;}
.utility ul {display: flex; display: -webkit-box;  display: -moz-box; display: -ms-flexbox; display: -webkit-flex; display: -webkit-box;  display: -moz-box; display: -ms-flexbox; display: -webkit-flex;}
.utility ul.left {float:left;}
.utility ul.right {float:right;}
.utility ul.right li a.icon_preschool em {padding-left:9.3rem;}
/*.utility ul.right li a.icon_preschool em::before{content: '';display:block; position:absolute; left:0; top:-0.7rem;width:8rem;height:3.5rem;background:url(../images/preschool_logo.svg) no-repeat 0 0; background-size: contain;} */
.utility ul.right li a.icon_facebook {display:block; width:3.5rem;height:2.1rem;background:url(../images/icon/units.svg) no-repeat 5px 0; } 
.utility ul.right li a.icon_instagram {display:block; width:3.5rem;height:2.1rem;background:url(../images/icon/units.svg) no-repeat 48% 0; } 
.utility ul.right li a.icon_language {display:block; width:3.5rem;height:2.1rem;background:url(../images/icon/units.svg) no-repeat right 0; } 
.utility li {position:relative;}
.utility li.h_line:after {content: '';background-color: #6E92D8;width: 0.1rem;display: inline-block;height: 1.3rem;margin: 0 2rem}
.utility li a {color: white;}
.utility li a .xi-angle-down-min {line-height: 1.1}
.utility li .language {display:none;position: absolute;top:4rem;left:-1rem ;z-index: 5;background: #494d56; border-radius: 0.5rem;padding: 1rem 1rem;}
.utility li .language a {display:block;color:#fff; text-align:center;}
.utility li:first-child .member:before {content:none}
.utility li .search {padding:0 1rem}
.utility .all_menu_btn {display:none}

/* Footer (디자인 미적용) */
footer {background-color: #474747;color: #fff; position: relative; border-top:1px solid #ddd;}
.footer_wrap .f_link {background-color: white;}
.f_link > .link_wrap {max-width:152rem; width:100%; margin:0 auto;display: flex; display: -webkit-box;  display: -moz-box; display: -ms-flexbox; display: -webkit-flex;justify-content: space-between; -webkit-box-pack: justify; -moz-box-pack: justify; -ms-flex-pack: justify; -webkit-justify-content: space-between;flex-wrap: wrap; -webkit-box-lines: multiple; -moz-box-lines: multiple; -ms-flex-wrap: wrap; -webkit-flex-wrap: wrap;}
.f_link > .link_wrap li {padding:2.6rem 0;}
.f_link > .link_wrap li a {padding: 0.5rem 1.5rem;display: block;white-space: nowrap;color: black;line-height:3;}
.f_link > .link_wrap li h1 a {display: block;width: 8rem;height: 3rem;background: url(../images/logo.svg) no-repeat center center;background-size: contain;}
.f_link > .link_wrap li a:hover, .f_link .link_wrap li a:hover focus, .Family_site h3 a:hover, .Family_site h3 a:focus {color: #2D62C5}
.f_link > .link_wrap li:first-child {margin-right:5rem;}
.f_link > .link_wrap li:last-child {margin-left:5rem;}
.footer_wrap .address_wrap {max-width: 152rem;margin: 0 auto;padding:6.3rem 0 7rem; gap:3rem;display: flex; display: -webkit-box;  display: -moz-box; display: -ms-flexbox; display: -webkit-flex; justify-content: space-between; -webkit-box-pack: justify; -moz-box-pack: justify; -ms-flex-pack: justify; -webkit-justify-content: space-between;}
.footer_wrap .address_wrap .address_inner {display: flex; display: -webkit-box;  display: -moz-box; display: -ms-flexbox; display: -webkit-flex; display: -webkit-box;  display: -moz-box; display: -ms-flexbox; display: -webkit-flex;align-items: center; -webkit-box-align: center; -moz-box-align: center; -ms-flex-align: center; -webkit-align-items: center;gap: 2rem; font-size:1.4rem; font-family:'Pretendard'; color:#ccc;}
.footer_wrap .address_wrap .address_inner:last-child {color:white;}
.footer_wrap .address_wrap .address_inner:last-child::before {content:'' ; display:inline-block; width:0.1rem; height:100%; background:white; margin-right:8rem;}
.webwach_logo img {width:8rem;}
.footer_wrap .address_wrap .address_inner:last-child span {display:block;}


@media screen and (min-width: 1281px) {
	#header > .navi .m_menu {display:none;}
	nav a:hover {color:#2D62C5;}
	nav {display: flex; display: -webkit-box;  display: -moz-box; display: -ms-flexbox; display: -webkit-flex;}
	nav:after {content: '';clear: both;display: block}
	nav > .gnb:after {content:'';display:block;clear: both}
	nav > .gnb > li {float: left;}
	nav > .gnb > li > a {display: block;line-height:1;text-align: center;position: relative; font-size:2rem; padding: 2.9rem 3rem; color:black;}
	nav > .gnb > li > .depth {position: absolute;width: 100%; display: none;z-index: 3;top:7.9rem; left:0; background:white; box-shadow:5px 10px 10px 0 #eee;}
	nav > .gnb > li > a > ul > li > a {color:black;}
	nav > .gnb > li > a > ul > li > a:hover {color:#2D62C5;}
	nav:not(.sitemap_view) li:focus-within > .depth,nav li:hover > .depth {display: flex; display: -webkit-box;  display: -moz-box; display: -ms-flexbox; display: -webkit-flex; display: -webkit-box;  display: -moz-box; display: -ms-flexbox; display: -webkit-flex;justify-content: center; -webkit-box-pack: center; -moz-box-pack: center; -ms-flex-pack: center; -webkit-justify-content: center;}
	nav:not(.sitemap_view) > .gnb > li > .depth > ul {display: flex; display: -webkit-box;  display: -moz-box; display: -ms-flexbox; display: -webkit-flex; display: -webkit-box;  display: -moz-box; display: -ms-flexbox; display: -webkit-flex;flex-wrap: wrap; -webkit-box-lines: multiple; -moz-box-lines: multiple; -ms-flex-wrap: wrap; -webkit-flex-wrap: wrap;}
	nav:not(.sitemap_view) > .gnb > li > .depth > ul > li {padding:4.4rem 3rem; border-right:1px solid #ddd; border-bottom:1px solid #ddd; width:calc(100% / 6); /*min-height:33rem;*/}
	nav:not(.sitemap_view) > .gnb > li > .depth > ul > li:nth-child(6n+0) {border-right:0;}
	nav:not(.sitemap_view) > .gnb > li > .depth > ul > li:nth-child(n+7){border-bottom:0;}
	nav:not(.sitemap_view) > .gnb > li > .depth > ul > li > a {display: block;padding: 0.3rem 0; color:black; font-size:1.8rem; font-weight:500;}
	nav:not(.sitemap_view) > .gnb > li > .depth > ul > li > ul {margin-top:1.2rem;}
	nav> .gnb > li > .depth > ul > li > ul > li > a {display: block; padding-left:1rem;}
	nav:not(.sitemap_view)> .gnb > li > .depth > ul > li > ul > li > a {font-size: 1.5rem; padding:0.3rem 0 0.4rem;}
	nav > .gnb > li > .depth > ul > li a:hover, nav > .gnb > li > .depth > ul > li a:focus {color: #2D62C5; font-weight:500;}
	nav:not(.sitemap_view) > .gnb > li > a.on {color: #2D62C5;}
	nav:not(.sitemap_view) > .gnb > li > a::before,
	nav:not(.sitemap_view) > .gnb > li > a::before {content: ''; position:absolute; bottom:0; left:50%; width:0; height:3px; background: #2D62C5;transition:all .2s ease-in-out; }
	nav:not(.sitemap_view) > .gnb > li > a.on::before,
	nav:not(.sitemap_view) > .gnb > li > a:hover::before {width:100%;left:0;}
	nav:not(.sitemap_view) > .gnb > li > .depth {background:white url(../images/bg_gnb.png) no-repeat center bottom; background-size:auto; }
	nav:not(.sitemap_view) > .gnb > li > .depth span {display:block; flex:1; width:100%; max-width:21.5rem; padding-top:5rem; font-size:2.6rem; }
	nav:not(.sitemap_view) > .gnb > li > .depth > ul {flex:3; width:100%; max-width:130rem; position:relative; background:white; border-left:1px solid#ddd; border-right:1px solid#ddd;}

	.footer_wrap .address_wrap .address_inner:last-child::before {margin-right:3rem;}
}
	
@media screen and (max-width: 1280px) {

	/* header */
	#header {border-top:0;}
	#header > .navi > h1 {padding:2rem 0 2rem 3rem; }
	#header .member {margin-right:3rem; align-items: unset;z-index:1;}
	#header > .navi .m_menu {z-index:5; margin-left:0.5rem;}
	#header > .navi .m_menu a {display: block;}
	#header > .navi .m_menu .line_wrap{position:relative;}
	#header > .navi .m_menu .line{width:30px;height:3px;background-color:black;display:block;margin:6px auto;border-radius:5px;transition:width .3s ease-in-out,transform .3s ease-in-out;}
	#header > .navi .m_menu .line:nth-child(2){width:20px;margin-left:10px}
	#header > .navi .m_menu_close {display:none; position:fixed; width:90%; margin-left:10%; height:7rem; background:#2D62C5; z-index:3;}
	#header > .navi .m_menu_close.on {display:block; }
	#header > .navi .m_menu_close.on a{position: absolute;right: 3rem;top: 2rem;z-index: 3; display: block; width:3.2rem; height:3.2rem;}
	#header > .navi .m_menu_close.on a::before {content: '';  position: absolute; right:50%; top: 0; width: 0.3rem; height: 4rem; transform: rotate(45deg); background-color: white;}
	#header > .navi .m_menu_close.on a::after {content: '';  position: absolute; right:50%; top: 0; width: 0.3rem; height: 4rem; transform: rotate(135deg); background-color: white;}
	#header .member .all_menu_btn {display:none;}
	#header .member li.my_account,
	#header .member li.logout {padding-top:0.5rem; }
	#header .member li.search_open_btn a {height:auto;}
	#header .member li.search_open_btn {width:5rem;}
	#header .member li.search_open_btn a::after{right:0.5rem;top:0.3rem;width:3rem;height:3rem;}
	#header .member li.search_open_btn a::before{right:0.3rem;top:2.6rem;width:0.5rem;height:0.3rem;}

	nav {display: none;background-color:rgba(0,0,0,0.3) ;top: 0; position: absolute;width: 100%;overflow: auto;height:100vh; z-index:3;}
	nav .gnb {background-color:white;top: 7rem; right:0;margin-left: 0;position: absolute;width: 90%; height:100vh;overflow: auto;}
	nav ul li {position:relative;}
	#header.action nav > .gnb > li > a {padding:2rem 0 2rem 5rem;}
	nav > .gnb li.active > a {color: #2D62C5; border-bottom: 1px solid #2D62C5;font-weight:500;}
	nav > .gnb > li > a {display:block;border-top: 1px solid #2D62C5;height:auto;padding:2rem 0 2rem 5rem;line-height: 2.2rem;font-size:2.5rem; position:relative;}
	nav > .gnb > li:last-child > a {border-bottom: 1px solid #2D62C5;} 
	nav > .gnb > li > a::before {content: '';  position: absolute; right:3rem; top:3rem; width: 3rem; height:0.3rem;transform: rotate(90deg); background-color:black;}
	nav > .gnb > li > a::after {content: '';  position: absolute; right:3rem; top:3rem; width: 3rem; height:0.3rem; transform: rotate(180deg); background-color: black;}
	nav > .gnb > li.active > a::before {content: '';  position: absolute; right:3rem; top:3rem; width: 3rem; height:0.3rem; transform: rotate(180deg); background-color: #2D62C5;}
	nav > .gnb > li.active > a::after {display:none;}
	nav > .gnb > li > .depth {position:relative;border:0;padding:0;top: 0; display:none;}
	nav > .gnb > li > .depth span {display:none;}
	nav > .gnb > li > .depth > ul {display:block !important; width:95%; margin:4rem 0 4rem 5%;}
	nav > .gnb > li > .depth > ul > li {float:unset;}
	nav > .gnb > li > .depth > ul > li > a {display: block;padding: 1.1rem 3rem;border-bottom: 1px solid  #eee; font-size:2rem;}
	nav > .gnb > li > .depth > ul > li > a::before {content: '';  position: absolute; right: 4rem; top:2rem; width: 0.2rem; height: 2rem; transform: rotate(45deg); background-color: #666;}
	nav > .gnb > li > .depth > ul > li > a::after {content: '';  position: absolute; right: 5.3rem; top:2rem; width: 0.2rem; height: 2rem; transform: rotate(135deg); background-color: #666;}
	nav > .gnb > li > .depth > ul > li.active > a::before {content: '';  position: absolute; right: 3rem; top:2.8rem; width: 2rem; height:0.2rem; transform: rotate(45deg); background-color: #666;}
	nav > .gnb > li > .depth > ul > li.active > a::after {content: '';  position: absolute; right: 4.3rem; top:2.8rem; width: 2rem; height: 0.2rem; transform: rotate(135deg); background-color: #666;}
	nav > .gnb > li > .depth > ul > li.active > a {border-top: 1px solid  #2D62C5;border-bottom: 1px solid  #2D62C5;}
	nav > .gnb > li > .depth > ul > li > ul {display:none;padding: 0.5rem 0;background-color: #FBFBFB;}
	nav > .gnb > li > .depth > ul > li > ul > li > a {display:block; padding: 1.1rem 3rem; border-bottom: 1px solid  #eee;font-size:1.8rem; color:#666;}
	nav ul li:not(:has(ul)) a::after,nav ul li:not(:has(ul)) a::before {display: none;}
	nav li.active > div.depth {display:block;}
	.footer_wrap .address_wrap .address_inner:last-child::before {display:none;}
}

@media screen and (max-width: 800px) {
	.f_link > .link_wrap {margin-bottom:4rem;}
	.f_link > .link_wrap li:first-child {width:100%; margin:0;}
	.f_link > .link_wrap li h1 a {width:22rem; height:8rem; margin:4rem auto 0;}
	.f_link > .link_wrap li a {padding:0; line-height:inherit;}
	.f_link > .link_wrap li {width: 32.9%; font-size:2rem;padding:2rem 0;position:relative; }
	.f_link > .link_wrap li:nth-child(2):after,
	.f_link > .link_wrap li:nth-child(3):after,
	.f_link > .link_wrap li:nth-child(5):after {content:'' ; display:block; position:absolute; right:0; top:calc(50% - 0.75rem); width:0.1rem; height:1.5rem; background:#bbb; }
	.f_link > .link_wrap li:last-child {margin-left:0; padding:0; }
	.f_link {padding:0 1.5rem;margin: 0 auto;display: table;text-align: center;width: 100%}
	.footer_wrap .address_wrap {padding:2rem 4rem;}
	.webwach_logo img {width:11rem;}
	.footer_wrap .address_wrap {display:block; padding:7rem 4rem 5rem;}
	.footer_wrap .address_wrap .address_inner {margin-bottom:2rem;}
	.footer_wrap .address_wrap .address_inner p {width:35%;}
	.footer_wrap .address_wrap .address_inner p img {width:auto;}
	.footer_wrap .address_wrap .address_inner:last-child {font-size:1.8rem; width:100%; display:block;}
	.footer_wrap .address_wrap .address_inner:last-child span {display:inline-block; width:35%; margin-right:2rem;}
	.footer_wrap .address_wrap .address_inner:last-child em {font-size:2.8rem;font-weight:200;}
	.footer_wrap .address_wrap .address_inner:last-child b {font-weight:600; padding-right:1rem;}

}

@media screen and (max-width: 640px) {
	.top_search input[type="text"] {width:80%;}
	.utility li .search {font-size: 2rem;padding: 0 0 0 1rem;}
}




