@charset "utf-8";
.skipnav {position: fixed;width: 100%;background: #000;color: #fff;text-align: center;z-index: 6}
.skipnav a {display: block;color: #fff;font-weight: bold;width: 0;height: 0;line-height: 0;font-size: 0}
.skipnav a:focus, .skip a:active {display: block;padding: 0.5rem 0;width: auto;height: auto;line-height: 1.5;font-size: 1.4rem}

/* header  */
#header {position: relative;width: 100%;z-index: 5;background-color: white; border-bottom:1px solid #ddd;}
#header.action {position: fixed;top:0;}
#header:after {content: '';clear: both;display: block}
#header .navi {margin: 0 auto; position: relative}
#header > .navi > h1 {position: absolute;left: 4rem;top:4rem;}
#header > .navi > h1 > a {background: url(../images/logo.png) no-repeat; background-size:contain; display:block; width:25.2rem;height: 3.8rem; font-size:0;}
#header > .navi > .m_menu {position: absolute;right: 0.8rem;top: 1.3rem;z-index: 5;color: #303038;display: block;display:none;}
nav:after {content: '';clear: both;display: block}
.menu_bg {width: 100%;height:29rem;position: absolute;top: 11rem;display: none;left: 0;z-index: 4;background:url(../images/bg_gnb.gif) no-repeat center 0; background-size:contain;}
.menu_dimmed {display: none; position: fixed;left: 0%;top: 0%;z-index:3;background-color:rgba(0,0,0,0.3) ;width: 100%; height:100vh; }

/* Sitemap */
#header.all_menu_title {display:none;}
#header.all_menu_close {display:none;}
.sitemap_view {display:block !important; z-index:4;}
#header.sitemap_view {position:fixed; top:0; left:0; width:100%; height:auto;background-color:white; overflow-y:auto; }
#header.sitemap_view .all_menu_close {display:block; position:absolute; top:0; right:0; z-index:2; background:url(../images/icon/icon_close_w.gif) no-repeat 0 0; width:7rem; height:7rem;}
.sitemap_view .utility {display:none;}
.sitemap_view nav > ul.gnb {display:block; padding-top:12.5rem;overflow:hidden; max-width:110rem; width:100%; margin:0 auto 10rem;}
.sitemap_view nav > ul.gnb > li {overflow:hidden; border-bottom:1px solid #ddd;}
.sitemap_view nav > ul.gnb > li > a {float:left; width:30%;font-size:3rem; font-weight:600; color:#2d5aa5;text-align:left;padding:3.1rem 0; }
.sitemap_view nav > ul.gnb > li > ul {float:left; width:70%; position:unset; overflow:hidden; padding-top:2rem;}
.sitemap_view nav > ul.gnb > li > ul > li {float:left;}
.sitemap_view nav > ul.gnb > li > ul > li a { font-family:"Pretendard"; font-weight:300; letter-spacing:-0.05rem; font-size:1.7rem; color:#767680;}
.sitemap_view nav > ul.gnb > li > ul > li a:hover { color:#2d5aa5; text-decoration: underline; background:none;}
.sitemap_view nav > ul.gnb > li > a.on::before, .sitemap_view  nav > ul.gnb > li > a:hover::before {display:none;}
.sitemap_view .menu_bg {display:none !important;}

/* utility*/
.utility {gap:1rem; position:absolute; top:4.3rem; right:4rem; display: flex;align-items: center;padding: 0.6rem 0;justify-content: flex-end; -webkit-box-pack: end; -moz-box-pack: end; -ms-flex-pack: end; -webkit-justify-content: flex-end;}
.utility li {position:relative}
.utility li a {display:block; font-size: 1.5rem;font-weight: 500; padding:0.3rem 1rem;}
.utility li.btn_search_open {}
.utility li.btn_search_open a {width:2.3rem; height:2.3rem; background:url(../images/icon/icon_search.svg) no-repeat center center; background-size:2.3rem 2.2rem;}
.utility li.btn_search_open a.close {width:2.3rem; height:2.3rem; background:none; position:relative;}
.utility li.btn_search_open a.close::before {content: '';  position: absolute; right:50%; top: 0; width: 0.3rem; height: 2rem; transform: rotate(45deg); background-color: #697283; border-radius:1rem;}
.utility li.btn_search_open a.close::after {content: '';  position: absolute; right:50%; top: 0; width: 0.3rem; height: 2rem; transform: rotate(135deg); background-color: #697283;border-radius:1rem;}
.utility li.part {position:absolute; top:-4.3rem; right:0; text-align:center; padding:0.3rem 0; width:19rem; border-radius:0 0 1rem 1rem;}
.utility li.part.provider {background:#8ABA4B;}
.utility li.part.employee {background:#0099DB;}
.utility li.part a {color:white; background:url(../images/icon/icon_V.svg) no-repeat 0 center; padding-left:2rem; display:inline-block; font-family:'Pretendard'; font-size:1.4rem; text-decoration:underline; font-weight:400;}
.utility li.login a {background:url(../images/icon/icon_login.svg) no-repeat 0 center; background-size:1.5rem; padding-left:2rem;}
.utility li.logout a {background:url(../images/icon/icon_logout.svg) no-repeat 0 center; background-size:1.5rem; padding-left:2rem;}
.utility li.join a {background:#8D8D97; border-radius:0.5rem; color:white;}
.utility li.account a {background:url(../images/icon/icon_mypage.svg) no-repeat 0 center; background-size:1.5rem; padding-left:2rem;}
.utility li.all_menu_btn {margin-right:20%;}
.utility li .all_menu {vertical-align:middle; width:2.3rem; height:2.3rem; background:url(../images/icon/icon_m.svg) no-repeat center center; background-size:2.3rem 2.2rem}


/* Footer (디자인 미적용) */
footer {background-color: #383B44;color: #fff;font-size: 1.4rem;font-weight: 200;position: relative}
.footer_wrap .f_link {background:#2C3039;}
.f_link > .link_wrap {max-width:117rem;margin:0 auto;display: flex; display: -webkit-box;  display: -moz-box; display: -ms-flexbox; display: -webkit-flex; flex-wrap: wrap; -webkit-box-lines: multiple; -moz-box-lines: multiple; -ms-flex-wrap: wrap; -webkit-flex-wrap: wrap; justify-content: space-between; -webkit-box-pack: justify; -moz-box-pack: justify; -ms-flex-pack: justify; -webkit-justify-content: space-between;}
.f_link > .link_wrap li a {padding: 2rem 0;display: block;white-space: nowrap;color: #fff; font-size:1.7rem;}
.f_link > .link_wrap li a:hover, .f_link .link_wrap li a:focus {color: #f28427}
.footer_wrap .address_wrap {max-width: 140rem; width:100%; margin: 0 auto; padding: 3.5rem 0 10rem;}
.footer_wrap .address_wrap .address_inner {overflow:hidden;}
.footer_wrap .address_wrap .address_inner p {float:left; width:24.7rem;}
.footer_wrap .address_wrap .address_inner address {float:right;width: calc(100% - 24.7rem); padding-left:7rem;font-size:1.5rem; color:#999; font-weight:400; font-family:'Pretendard'}

/* Search */
#header.action + .top_search {top:6rem;}
.top_search {display:none; position:fixed; top:11rem; left:0; z-index:3; width:100%; background:white;text-align:center;}
.header.action + .top_search.active {top:5rem;}

.search_bar {position:relative;margin:4rem auto; width:48rem;}
.search_bar input[type="text"] {z-index:2; position:relative; border:2px solid #2C5AA5; border-radius:2rem; font-size:1.8rem; font-family:'Pretendard'; font-weight:400; padding:0 3rem; width:100%; height:5.8rem; }
.search_bar .btn_search {position:absolute;z-index:2;  top:0; right:0; width:5.8rem; height:5.8rem; background:#2C5AA5; border-radius:2rem 2rem 1rem 2rem}
.search_bar .btn_search::after{content:'';position:absolute;right:2rem;top:2rem;width:2rem;height:2rem;border:3px solid  white;border-radius:100%;}
.search_bar .btn_search::before{content:'';position:absolute;right:1.6rem;top:3.7rem;width:0.8rem;height:0.3rem;transform:rotate(45deg);background-color:white; border-radius:1rem;}
.search_bar .search_recommend {z-index:1; overflow:hidden; text-align:left; padding:2.5rem 0 1.5rem; display:none; position:absolute; top:4rem; left:0; width:100%; border:2px solid #2C5AA5; border-radius:0 0 2rem 2rem;background-color:white;}
.search_bar .search_recommend li {position:relative;}
.search_bar .search_recommend li a {display:block; padding:0.6rem 3rem;}
.search_bar .search_recommend li:hover {background:#F0F6FE; color:#2C5AA5;}
.search_bar .search_recommend li:hover a{color:#2C5AA5;}
.search_bar .search_recommend li a.delete_result {display:block;position:absolute; top:0; right:0; width:3rem; height:3rem;}
.search_bar .search_recommend li a.delete_result::before {content:'+'; font-size:2rem;font-weight:600; display:block;transform:rotate(-45deg);-webkit-transform:rotate(-45deg);}
.search_bar .search_recommend li a.delete_result:hover {font-weight:800;}
.section_wrap {display: -webkit-flex;display: flex;max-width:140rem; width:100%;  margin:0 auto; position:relative; padding-top:5rem;}

.lnb {-webkit-flex:1; -ms-flex:1; flex: 1; max-width:26rem; width:100%; }
/*.lnb {position: absolute;max-width: 140rem;left: 50%;z-index: 1;transform: translate(-50%, 0);width: 100%}*/
.lnb > h3 a {display:block; padding:3.2rem 3rem 6.5rem; border-radius:3rem 0;background:#2C5AA5 url(../images/lnb_logo.gif) no-repeat right 3rem bottom 2rem; background-size:5.9rem 1.8rem;color: #fff;font-size: 2.3rem;font-weight: 600;color:#fff; }
.lnb > ul > li.active > a, .lnb > ul > li > ul > li:hover > a {color: #2C5AA5;background:url(../images/icon/icon_lnb_arrow.svg) no-repeat right 3rem center; background-size:3.4rem;}
.lnb > ul > li > a {display: block;  padding:2.1rem 0 2rem 2.2rem;font-size:2.1rem;border-bottom: 1px solid  #E7E7E7;font-weight: 600;position: relative;letter-spacing: -0.08rem;}
.lnb > ul > li > ul {background-color: #edeff7;padding: 0.5rem;border-bottom: 1px solid  #E7E7E7;display: none}
.lnb > ul > li > ul > li > a {padding: 0.3rem 0.3rem 0.3rem 3rem;display: inline-block;position: relative;font-size: 1.4rem;}
.lnb > ul > li > ul > li > a:before {content: '';position: absolute;left:1rem;top: 1.2rem;background-color: #c9cbd5;width: 0.5rem;height: 0.3rem;}

/* sub visual */
.sub_visual {position:relative; max-height:26rem; background:url(../images/sub/sub_visual.gif) no-repeat center center; background-size: cover;}
.sub_visual .sub_title {max-width: 140rem;width:100%; margin: 0 auto;padding:7.3rem 0 3.1rem; }
.sub_visual .sub_title h2 {font-size:5.2rem; color:#303038; font-weight:700; margin:0; text-align:center;}
.sub_visual .sub_title p {font-size:2.2rem;}
.sub_visual.sub01 {background:url(../images/sub/sub_visual_01.gif) no-repeat center center;} 
.sub_visual.sub02 {background:url(../images/sub/sub_visual_02.gif) no-repeat center center;} 
.sub_visual.sub03 {background:url(../images/sub/sub_visual_03.gif) no-repeat center center;} 
.sub_visual.sub04 {background:url(../images/sub/sub_visual_04.gif) no-repeat center center;} 
.sub_visual.sub05 {background:url(../images/sub/sub_visual_05.gif) no-repeat center center;} 
.sub_visual.sub06 {background:url(../images/sub/sub_visual_06.gif) no-repeat center center;} 
.sub_visual.sub07 {background:url(../images/sub/sub_visual_07.gif) no-repeat center center;} 
.sub_visual.search {background:url(../images/sub/sub_visual_search.gif) no-repeat center center;} 

/*.location {margin: 0 auto;position: relative;font-weight: 200;max-width: 140rem;padding-left: 25rem}*/
.location {width:100%; padding:2.3rem 0 2.2rem; /*border-bottom:1px solid #DAE8F5;*/  font-size:1.7rem;}
.location > ul {position: relative; width:100%; max-width:142rem; margin:0 auto; gap:2rem; display: flex; display: -webkit-box;  display: -moz-box; display: -ms-flexbox; display: -webkit-flex; justify-content: center; -webkit-box-pack: center; -moz-box-pack: center; -ms-flex-pack: center; -webkit-justify-content: center;}
.location > ul > li {position: relative;}
.location > ul > li a {display:block; color:black;}
.location > ul > li > a {position: relative;padding:0 1rem;}
.location > ul > li > .custom_select .select_selected {border:0; border-radius:0;}
.location > ul > li > .custom_select .select_selected > a {position: relative;padding:0 1rem; min-width:7rem; text-align:center;}
.location > ul > li > .custom_select .select_selected > a::after {content:""; position:absolute; top:1rem; right:-1.5rem; display:block;border:solid #AFB6C0;width:1rem;height:1rem;margin:0 0 0.1rem 0.9rem;border-width:0 0.2rem 0.2rem 0;transform:rotate(-45deg);-webkit-transform:rotate(-45deg);}
.location > ul > li:last-child > .custom_select .select_selected > a::after {display:none;}
.location > ul > li.home > a {background:url(../images/icon/icon_home.svg) no-repeat center center; background-size:1.8rem;display: inline-block; width:3rem;height:1.8rem; height:100%;}
.location > ul > li > strong {padding-left: 1.2rem}
.location > ul > li > .custom_select .select_items {z-index:1;position:absolute; top:4.6rem; left:-3.5rem; border-radius:1.3rem; background:#fff; border:1px solid #2C5AA5; min-width:16rem; display:none;overflow:hidden; padding:0.5rem 0;}
.location > ul > li > .custom_select .select_items div a{display:block; border:0; position:relative; padding:0.6rem 2rem;word-break:keep-all; white-space:nowrap; color:#767680; }
.location > ul > li > .custom_select .select_items div.on a,
.location > ul > li > .custom_select .select_items div a:hover {color:#2d5aa5;}

/* sub visual */
/* JJ Added */
.contents_wrap {-webkit-flex: 3; -ms-flex: 3; flex: 3; max-width:114rem;padding:0 0 20rem 6rem; min-height:80rem;overflow:hidden;}
/*.contents_wrap {margin: 0 auto;position: relative;font-weight: 200;max-width:142rem;padding-left: 25rem;min-height:80rem}*/
.webwach-logo > img {max-width:90.9rem;width:100%;}

@media screen and (min-width: 1401px) {
	nav > ul.gnb {display: flex;justify-content:center; gap:6rem;}
	nav > ul.gnb:after {content:'';display:block;clear: both}
	nav > ul.gnb > li {position: relative}
	nav > ul.gnb > li > a {display: block;line-height: 2.2rem;text-align: center;position: relative;font-weight: 600;font-size: 1.8rem;padding: 5.3rem 0 3.4rem;color: #303038;}
	nav > ul.gnb > li > a:hover, nav > ul > li > a:focus, nav > ul > li > a:active {color:#2d5aa5}
	nav > ul.gnb > li > ul {position: absolute;width:100%; min-width:13rem; display: none;z-index: 5;top:13.5rem; left:-1.5rem;}
	nav > ul.gnb > li > ul > li > a {display: block; position:relative; padding: 0.8rem 3rem 0.8rem 1rem;font-size: 1.6rem; font-weight: 600;color: #303038;}
	nav > ul.gnb > li > ul > li a:hover, nav > ul > li > ul > li a:focus {background:#5478B6; border-radius:0.5rem; color:white;}
	nav > ul.gnb > li > ul > li a::after {content: '>'; font-size:1.3rem; display:none; position:absolute; top:1rem; right:1rem; color:white; }
	nav > ul.gnb > li > ul > li a:hover::after, nav > ul > li > ul > li a:focus::after {display:block;}
	nav > ul.gnb > li > ul > li > ul {display:none}
	nav > .m_member {display:none;}
	nav > ul.gnb > li > a.on {color: #2d5aa5;}
	#header.on {background-color: #F6F7FC;}
	nav > ul.gnb > li > a::before {content: ''; position:absolute; bottom:2.5rem; left:50%; width:0; height:2px; background: #5478B5;transition:all .2s ease-in-out; }
	nav > ul.gnb > li > a.on::before,
	nav > ul.gnb > li > a:hover::before {width:100%;left:0;}
}

@media screen and (max-width: 1800px) {
	/* header */
	nav > ul.gnb {gap:5rem; padding-left:5rem;}
}

@media screen and (max-width: 1600px) {
	/* header */
	#header > .navi > h1 {left:2rem;}
	.utility {right:2rem; gap:0.5rem;}
	nav > ul.gnb {gap:3.5rem; padding-left:6rem;}
	nav > ul.gnb > li > a {font-size:1.6rem;}
}

@media screen and (max-width: 1400px) {
	.section_wrap {padding:5rem 4rem;}
	.footer_wrap .address_wrap .address_inner {padding:0 4rem;}
	.f_link {padding:0 4rem;}
	.utility li.all_menu_btn {margin-right:0;}

	/* header */
	nav.sitemap_view {display:none;}
	.menu_bg {height:auto;background:white;}
	#header {padding:2rem 0; border-bottom:1px solid #F4F4F4;}
	#header > .navi > h1 {position: relative;width:auto; display:block; float:left; z-index: 4;top:unset; left:4rem;}
	#header > .navi > h1 > a {margin-left:0;}
	.utility {display:none;}
	.m_util {float:right;padding-right:4rem;}
	#header > .navi > .m_util > .m_menu {display:inline-block;vertical-align:middle; width:3rem; height:3rem; background:url(../images/icon/icon_m.svg) no-repeat center center; background-size:3rem 3rem;}
	#header > .navi > .m_util > .m_menu.off {background:url(../images/icon/icon_close.svg) no-repeat center center; background-size:3rem;}
	.m_util .btn_search {display:inline-block; vertical-align:middle; margin-right:2rem;width:3rem; height:3rem; background:url(../images/icon/icon_search.svg) no-repeat center center; background-size:3rem;}
	.m_util .btn_search.close  {background:url(../images/icon/icon_close.svg) no-repeat center center; background-size:3rem;}
	.top_search {top:7rem;}
	.top_search .search_bar {width:80%; margin:3rem auto;}
	.board_top .search_bar {width:100%; margin:3rem auto;}
	nav {display: none;background:white url(../images/bg_m_menu.gif) no-repeat center bottom; background-size:contain; top: 5.1rem;margin-left: 0;position: absolute;width: 100%;overflow: auto;height:auto; padding:0 3rem 20rem;}
	nav > .m_member {display:block; overflow:hidden; border-radius:0.5rem; width:100%; margin-top:2rem;}
	nav > .m_member.provider {background:#8ABA4B;padding:1.5rem 2rem; }
	nav > .m_member.employee {background:#349ADB;padding:1.5rem 2rem; }
	nav > .m_member.provider > a,nav > .m_member.employee > a {display:inline-block; vertical-align:middle; color:white;background:url(../images/icon/icon_V.svg) no-repeat 0 center; padding-left:3rem; font-family:'Pretendard'; font-size:2.4rem; text-decoration:underline; font-weight:300; letter-spacing:-0.05em;}
	nav > .m_member .login {font-size:2.8rem; font-weight:700; }
	nav > .m_member .join {float:right; background:#8D8D97; border-radius:0.5rem; color:white; padding:0.3rem 1rem; margin-top:0.5rem;}

	nav > .m_member .right {display:block; float:right;}
	nav > .m_member .right .account {display:inline-block; margin:0.8rem 3rem 0 0; width:2.2rem; height:2.2rem; background:url(../images/icon/icon_mypage_m.svg) no-repeat center center; background-size:contain;}
	nav > .m_member .right .logout {display:inline-block; margin:0.8rem 0 0 0; width:2.2rem; height:2.2rem;  background:url(../images/icon/icon_logout_m.svg) no-repeat center center; background-size:contain;}
	nav > ul.gnb {display:block; padding:2rem 0; }
	nav > ul.gnb > li > ul {display:none;}
	nav > ul.gnb > li > a {font-size:2rem; position:relative;  }
	nav > ul.gnb > li a {padding:0.8rem 0;display:block; }
	nav > ul.gnb > li.active > a {color:#003F9D;}
	nav > ul.gnb > li.active > a::after {display:none;}
	nav > ul.gnb > li > ul {margin-bottom:1rem;}
	nav > ul > li.depth {position:relative; }
	nav > ul > li.depth > a::after  {content:"";display:block; position:absolute; top:1.5rem; right:0.5rem; border:solid #aaa;width:1rem;height:1rem;margin:0 0 0.1rem 0.9rem;border-width:0 0.3rem 0.3rem 0;transform:rotate(-45deg);-webkit-transform:rotate(-45deg);}
	nav > ul > li.depth > ul > li a {display: block; position:relative; padding: 0.8rem 3rem 0.8rem 1rem;font-size: 1.8rem; font-weight: 600;color: #303038;}
	nav > ul > li.depth > ul > li a:hover, nav > ul > li.depth > ul > li a:focus {background:#5478B6; border-radius:0.5rem; color:white;}
	nav > ul > li.depth > ul > li a::after {content: '>'; font-size:1.3rem; display:block; position:absolute; top:1.5rem; right:1.5rem; color:white; }

	.utility .all_menu_btn {display:none}
}

@media screen and (max-width: 1200px) {
	.section_wrap {display:block;}
	.lnb {display:none;}
	.contents_wrap {padding:0;max-width:100%;}
	.sub_visual,
	.sub_visual.search {background: url(../images/sub/sub_visual_m.gif) no-repeat center center;background-size:cover;}
	.sub_visual .sub_title {padding:6rem 0;}
	.sub_visual .sub_title h2 {font-size:4rem;}
	.location {background:#2C5AA5; padding:1.5rem 0;}
	.location > ul > li {width:100%;}
	.location > ul > li:not(:last-child) {display:none;}
	.location > ul > li > .custom_select .select_selected > a{color:white; text-align:left; font-size:2.2rem; padding:0 4rem;}
	.location > ul > li:last-child > .custom_select .select_selected > a:before {content:"";display:block; position:absolute; top:0; right:3rem; width:3.2rem; height:3.2rem; background:white; border-radius:100%;}
	.location > ul > li:last-child > .custom_select .select_selected > a::after {content:"";display:block;position:absolute; top:0.8rem; right:4.1rem; border:solid #2C5AA5;width:1.1rem;height:1.1rem;margin:0 0 0.1rem 0.9rem;border-width:0 0.3rem 0.3rem 0;transform:rotate(45deg);-webkit-transform:rotate(45deg);}
	.location > ul > li:last-child > .custom_select .select_selected.on > a::after {top: 1.3rem;transform:rotate(-135deg);-webkit-transform:rotate(-135deg);}
	.location > ul > li > .custom_select .select_items {width:100%; top:5rem;background: #2C5AA5; left:0rem; border-radius:0; padding:0 1rem; }
	.location > ul > li > .custom_select .select_items div a{ color:white;padding: 1.5rem 3rem;  font-size: 2.2rem;border-top:1px solid #3D69B4;  }
	.location > ul > li > .custom_select .select_items div.on a,
	.location > ul > li > .custom_select .select_items div a:hover {color:white;}
	.f_link > .link_wrap {max-width:100%;}
	
}

@media screen and (max-width: 640px) {
	.f_link > .link_wrap li {width:50%; text-align:center;}
	.footer_wrap .address_wrap .address_inner p {float:unset; width:100%;}
	.footer_wrap .address_wrap .address_inner address {float:unset; width:100%; padding-left:0; margin-bottom:3rem; font-size:1.6rem;}
	.footer_wrap .address_wrap .address_inner p img {width:19rem;}


}