@charset "utf-8";
/* silide banner */
.slide_show{padding:0;background-color:transparent; position:relative;}
.slide_show .swiper_wrap{width:100%;}
.slide_show .swiper-ctrl{z-index:2;}
.slide_show .main_visual_btn {z-index:2;position: absolute;left: 50%;top: 45rem;transform: translateX(-50%);width: 100%;max-width: 140rem;}
.slide_show .visual_pagination-wrap{width:26rem; position:relative;font-size:1.3rem; overflow:hidden;}
.slide_show.main_visual .visual_pagination-wrap .visual_pagination{float:left; width:auto;}

.pagination_bar {align-items: center; width: 15rem; height: 0.6rem; background-color: #EAEAEA; border-radius:10rem;}
.pagination_bar .bar {height: 100%; background-color: #3D3C50;border-radius:10rem;}

.slide_show.main_visual .swiper_wrap .swiper_slide{width:100%; height:52rem; transition:ease-in-out; background-repeat:no-repeat; background-size:cover; background-position:center bottom;}
.slide_show.main_visual .swiper_wrap .swiper_slide.swiper_slide_01 {background-image:url(../images/main_visual_01.jpg);}
.slide_show.main_visual .swiper_wrap .swiper_slide.swiper_slide_02 {background-image:url(../images/main_visual_02.jpg);}
.slide_show.main_visual .swiper_wrap .swiper_slide.swiper_slide_03 {background-image:url(../images/main_visual_03.jpg);}
.slide_show.main_visual .swiper_wrap .swiper_slide p {max-width:140rem; margin:16rem auto 0; font-size:5.6rem; font-weight:800; line-height:1.2;}
.slide_show.main_visual .swiper_wrap .swiper_slide p em {display:block; padding-top:0.7rem;font-size:2.2rem;font-weight:300; padding-top:3rem;line-height:1.4;}
.slide_show.main_visual  .swiper-ctrl {float:right; width:auto; }
.slide_show.main_visual .swiper-ctrl .btn_prev{width:1.5rem; height:2rem; background:url(../images/icon/icon_pre.svg) no-repeat center center; background-size:0.7rem 1.2rem;vertical-align:middle;}
.slide_show.main_visual .swiper-ctrl .btn_next{width:1.5rem; height:2rem; background:url(../images/icon/icon_next.svg) no-repeat center center; background-size:0.7rem 1.2rem;vertical-align:middle; }
.slide_show.main_visual .visual_pagination-wrap .btn_autoplay{width:1.5rem;height:0; border-top: 5px solid white; border-bottom: 5px solid white; border-left: 6px solid black; margin-left:0.6rem; margin-right:-0.6rem;vertical-align:middle;  }
.slide_show.main_visual .visual_pagination-wrap .btn_autoplay.on {width:1.5rem; height:2rem; background:url(../images/icon/icon_pause.svg) no-repeat center center; background-size:0.8rem 0.9rem;border:0;vertical-align:middle;margin:0; }
.slide_show.main_visual .pagination_bar {position:absolute; top:0.7rem; left:1.8rem;}
.slide_show.main_visual .count em:first-child {position:absolute; top:0; left:0;}
.slide_show.main_visual .count em:last-child {position:absolute; top:0; right:7rem;}


.main_wrap {overflow:hidden; position:relative;}
.second_banner {overflow: hidden; position:relative; background:url(../images/bg_second_banner.png) no-repeat center bottom; background-size:contain; padding-bottom:6rem;}
.second_banner h2 {margin:11.2rem 0 0;  text-align:center; font-size:4.2rem; font-weight:800;}
.second_banner h2 p {display:inline-block; padding-left:5rem;}
.second_banner h2 p a {display:block; position:relative; font-size:1.6rem; font-weight:800;}
.second_banner h2 p a::after {content:"";display:inline-block;border:solid #302F38;width:1rem;height:1rem;margin:0 0 0.1rem 0.5rem;border-width:0 0.25rem 0.25rem 0;transform:rotate(-45deg);-webkit-transform:rotate(-45deg);}
.second_banner .banner_visual {float:right; width:50%; position:relative; margin-left:50%;}
.second_banner .banner_visual .swiper-ctrl {text-align:right; width:100%; margin-bottom:1.5rem;}
.second_banner .banner_visual .slide_show .swiper-ctrl .btn-ctrl {position:relative; border:1px solid #ccc; border-radius:100%; width:5rem; height:5rem; margin-left:0.3rem;}
.second_banner .banner_visual .slide_show .swiper-ctrl .btn_prev::after {content:"";display:inline-block;border:solid #302F38;width:1rem;height:1rem;margin:0 0 0.1rem 0.7rem;border-width:0 0.25rem 0.25rem 0;transform:rotate(135deg);-webkit-transform:rotate(135deg);}
.second_banner .banner_visual .slide_show .swiper-ctrl .btn_next::after {content:"";display:inline-block;border:solid #302F38;width:1rem;height:1rem;margin:0 0 0.1rem 0;border-width:0 0.25rem 0.25rem 0;transform:rotate(-45deg);-webkit-transform:rotate(-45deg);}
.second_banner .banner_visual .slide_show .swiper_wrap .swiper_slide {border-radius:3rem; background:#F5F5F8; max-height:50rem;}
.second_banner .banner_visual .slide_show .swiper_wrap .swiper_slide a {display:block; padding:4rem; max-height:42rem;}
.second_banner .banner_visual .slide_show .swiper_wrap .swiper_slide a img {width:100%; max-height:24.5rem; border-radius:1rem; border:1px solid #E5E4E7; margin-bottom:2.7rem; }
.second_banner .banner_visual .slide_show .swiper_wrap .swiper_slide a .title {display:block; font-size:1.8rem; font-weight:700; margin-bottom:1rem; white-space:nowrap; overflow:hidden;text-overflow:ellipsis;width:100%;}
.second_banner .banner_visual .slide_show .swiper_wrap .swiper_slide a .txt {display:block; color:#767680; margin-bottom:2.3rem; line-height:1.4;overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp:3 ; -webkit-box-orient: vertical;}
.second_banner .banner_visual .slide_show .swiper_wrap .swiper_slide a .info {overflow:hidden;display:block; font-size:1.5rem;}
.second_banner .banner_visual .slide_show .swiper_wrap .swiper_slide a .view {float:left; background:url(../images/icon/icon_views.svg) no-repeat 0 center; padding-left:3rem;}
.second_banner .banner_visual .slide_show .swiper_wrap .swiper_slide a .date {float:right;}
.second_banner .banner_img {display:none;}
.second_banner .visual_pagination-wrap {display:none;}
.main_center_banner {position:relative; width:100%; max-width:140rem; margin:4.1rem auto 11rem; }
.main_center_banner a {display:block; width:100%;  height:0;padding-top:16%;}
.main_center_banner.provider a {background:url(../images/img_main_center.png) no-repeat center 0; background-size:contain;}
.main_center_banner.employee a {background:url(../images/img_main_center_employee.png) no-repeat center 0; background-size:contain;}
.third_banner {width:100%; background:url(../images/bg_third_main_banner.gif) no-repeat center 0; overflow:hidden; padding-bottom:10rem; margin-bottom:11rem;}
.third_banner .main_content {width:100%; max-width:121.4rem; margin:11.5rem auto 0;overflow:hidden;}
.third_banner .main_content .left {width:30%; float:left;}
.third_banner .main_content .right {width:70%; float:left;}
.third_banner .main_content h2 {padding:2.7rem 0 1rem; font-size:3.4rem; font-weight:700;}
.third_banner .main_content p.txt {line-height:1.2; margin-bottom:3.5rem;}
.third_banner .main_content p.more_btn {display:inline-block;position:relative;}
.third_banner .main_content p.more_btn a{display:block; position:relative; padding-right:2rem;font-weight:800;}
.third_banner .main_content p.more_btn a::after {content:""; position:absolute; right:0; top:0.6rem; display:inline-block;border:solid #303038;width:1rem;height:1rem; border-width:0 0.2rem 0.2rem 0;transform:rotate(-45deg);-webkit-transform:rotate(-45deg);}

.fourth_banner {background:#DDEAF5; position:relative; padding:6rem 0 11rem;}
.fourth_banner .title {position: absolute;left: 50%;top: -3rem;transform: translateX(-50%);width: 100%;max-width: 172rem;white-space:nowrap; overflow:hidden;text-overflow:ellipsis;}
.fourth_banner .title div {width:34rem; height:35.8rem; background:#8CBDE7; border-radius:3rem 3rem 20rem 3rem; padding:6rem; color:white; font-size:4.2rem; font-weight:700; line-height:1.4;}
.fourth_banner .title div span {display:block; font-size:3.2rem; font-weight:100; margin-bottom:9.5rem;}
.fourth_banner .title div a {font-size:1.6rem; display:block;}
.fourth_banner .title div a::after {content:"";display:inline-block;border:solid white;width:1rem;height:1rem;margin:0 0 0.1rem 0.9rem;border-width:0 0.2rem 0.2rem 0;transform:rotate(-45deg);-webkit-transform:rotate(-45deg);}

.fourth_banner .slide_show {z-index:1; width:100%; max-width:172rem; margin:0 auto; padding-left:40rem; padding-bottom:4rem; position:relative;}
.fourth_banner .slide_show .visual_pagination-wrap {position: absolute; width:100%; left:0; padding-left:40rem; bottom:0; text-align:center;}
.fourth_banner .slide_show .swiper_slide a {background:white; height:30rem; display:block;border-radius:3rem; padding:4rem;}
.fourth_banner .slide_show .swiper_slide a .date {display:block; text-align:center; margin-bottom:1rem;width:7rem; height:4.2rem; background:#F0F5F9; border-radius:1.5rem; padding:1.5rem 0 1rem; font-size:1.2rem; line-height:1.2; font-weight:100; color:#767680;}
.fourth_banner .slide_show .swiper_slide a .date b{display:block;font-size:2.2rem; font-weight:800; color:#3c3c50;}
.fourth_banner .slide_show .swiper_slide a .title {display:block; position:absolute; top:6rem; left:12.5rem; transform:none;width:calc(90% - 12.5rem); color:#4c97b2; font-size:1.8rem; font-weight:700;}
.fourth_banner .slide_show .swiper_slide a img {border-radius:2rem; max-height:19rem; width:32rem; border:1px solid #ddd;}
.fourth_banner .slide_show .swiper_slide a .txt {display:block; padding-top:1rem; font-family:'Dotum'; line-height:1.2; max-height:18rem;overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp:7 ; -webkit-box-orient: vertical; }
.fourth_banner .slide_show .swiper_slide a .info {overflow:hidden;display:block; font-size:1.5rem; text-align:right; padding-top:1.7rem;}
.fourth_banner .slide_show .swiper_slide a .view {display:inline-block; background:url(../images/icon/icon_views.svg) no-repeat 0 center; padding-left:3rem;}
.tab_banner {float:right; width:70%; position:relative; height:30rem; }
.tab_banner > li {float:left;}
.tab_banner > li > .tab_contents {position:absolute; top:3rem; left:0;}

.slide_show .visual_pagination-wrap .swiper-pagination-bullet {margin:0 0.5rem;}
.slide_show .visual_pagination-wrap .swiper-pagination-bullet-active {width:3rem; border-radius:1rem;}


/* slide banner */


@media screen and (max-width: 1400px) {
    .slide_show.main_visual .swiper_wrap .swiper_slide p {padding:0 4rem;}
    .slide_show .main_visual_btn {padding-left:4rem;}
    .second_banner .banner_visual .swiper-ctrl {padding-right:4rem;}
    .main_content {width:100%; padding:0 4rem;}
    .fourth_banner .slide_show {/*padding-right:4rem;*/}
    

}

@media screen and (max-width: 1050px) {  /* 반응형 레이아웃 변경 시작 */
    .second_banner {background:none; }
    .second_banner .banner_visual {width:100%; margin-left:0; margin-bottom:6rem; padding-left:4rem;}
    .second_banner .banner_visual .swiper_wrapper {margin-top:2rem;  }
    .second_banner .visual_pagination-wrap {display:block; overflow:hidden; width:100%; margin-top:4rem; border-radius:1rem 0 0 1rem;font-size:1rem;}
    .second_banner .visual_pagination-wrap .swiper-pagination-bullets {overflow:hidden; background:#F2F2F5;height:0.8rem; padding:0; }
    .second_banner .slide_show .visual_pagination-wrap .swiper-pagination-bullet {margin:0; width:33.3%;border-radius:0;}
    .second_banner .swiper-pagination-bullet {background:#F2F2F5;border-radius:0;}
    .second_banner .swiper-pagination-bullet-active {background:#CBCBCB;}
    .second_banner .banner_visual .swiper-ctrl {display:none;}
    .second_banner .banner_visual .slide_show .swiper_wrap .swiper_slide,
    .second_banner .banner_visual .slide_show .swiper_wrap .swiper_slide a,
    .second_banner .banner_visual .slide_show .swiper_wrap .swiper_slide a img {max-height:unset;}
    .slide_show.main_visual .swiper-ctrl {display:none;}
    .second_banner .banner_img {display:block;}
    .second_banner .banner_img img {width:100%;}

    .third_banner {background:#F5F5F8;}
    .third_banner .main_content {margin-top:5rem;}
    .third_banner .main_content .left {width:100%; float:unset; text-align:center;}
    .third_banner .main_content h2 {padding-top:0;}
    .third_banner .main_content p.txt {margin-bottom:2rem;}
    .third_banner .main_content p.more_btn {margin-bottom:3rem; }
    .third_banner .main_content .right {width:100%; float:unset;}

    .fourth_banner {background:#8CBDE7; padding:5rem 0 5rem 4rem;}
    .fourth_banner .title {position:relative; left:unset; top:unset;transform:none; }
    .fourth_banner .title div {width:100%; height:auto; border-radius:0; padding:0; position:relative; background:none;}
    .fourth_banner .title div span {margin-bottom:0;}
    .fourth_banner .title div a {position:absolute; top:4rem; right:4rem;}
    .fourth_banner .slide_show {padding-left:0;}
    .fourth_banner .swiper_wrapper {margin-top:2rem;}

    .fourth_banner .visual_pagination-wrap .swiper-pagination-bullets {background:#F2F2F5;height:0.8rem; padding:0; }
    .fourth_banner .slide_show .visual_pagination-wrap {font-size:1rem; padding-left:0;border-radius:1rem 0 0 1rem;}
    .fourth_banner .slide_show .visual_pagination-wrap .swiper-pagination-bullet {margin:0;width:33.3%; height:1.2rem;border-radius:0;}
    .fourth_banner .swiper-pagination-bullet {background:#F2F2F5; }
    .fourth_banner .swiper-pagination-bullet-active {background:#3D75A6;border-radius:0;}

    .main_center_banner.provider a {margin:0 auto 4rem; padding-top:37%; background:url(../images/img_main_center_m.png) no-repeat center 0; background-size:contain; }
    .main_center_banner.employee a {margin:0 auto 4rem; padding-top:38.5%;background:url(../images/img_main_center_employee_m.png) no-repeat center 0; background-size:contain; }
}

@media screen and (max-width: 640px) {
    .slide_show.main_visual .swiper_wrap .swiper_slide{height:43rem;}
    .slide_show.main_visual .swiper_wrap .swiper_slide.swiper_slide_01 {background-image:url(../images/m_main_visual_01.jpg);}
    .slide_show.main_visual .swiper_wrap .swiper_slide.swiper_slide_02 {background-image:url(../images/m_main_visual_02.jpg);}
    .slide_show.main_visual .swiper_wrap .swiper_slide.swiper_slide_03 {background-image:url(../images/m_main_visual_03.jpg);}
    .slide_show.main_visual .swiper_wrap .swiper_slide p {margin:6rem auto 0; font-size:3.6rem; font-weight:700;}
    .slide_show.main_visual .swiper_wrap .swiper_slide p em {padding-top:1.5rem; font-size:1.6rem;}
    .slide_show .main_visual_btn {top:23rem;}
    .second_banner h2 {margin:5rem 0 0;font-size:3.2rem; font-weight:700;}
    .second_banner h2 p {display:block; padding-left:0; margin-top:1rem;}
}


