@charset "UTF-8";
/* 스킵 네비게이션 */
#skipNavigation { position: absolute; top: 0; left: -4000px; }

/* 관련기관 */
#relatedOrganization { display: none; background: #f4f4f4; border-bottom: 1px solid #e6e6e6; box-sizing: border-box; }
#relatedOrganization ul { height: 70px; line-height: 69px; }
#relatedOrganization li { vertical-align: middle; display: inline-block; zoom: 1; *display: inline; }

/* HEADER */
#header { border-bottom: 2px solid #eb6b56; padding-bottom: 20px; }
#header .content-zone { position: relative; text-align: center; /*background: url("/image/common/header/img_circle.png") no-repeat 4px 95px; */}
#header .gov3 { margin-top: 50px; margin-right: 17px; vertical-align: top; margin-left: -52px; }
#header .top-logo { margin-top: 24px; }
#header .sub-navigation-section { position: absolute; top: 46px; right: 1px; }
#header #subNav{ line-height: 17px; }
#header #subNav li { display: inline-block; font-weight: 700; color: #777777; font-size: 13px; }
#header #subNav li { position: relative; top: -1px; }
#header #subNav li > a { vertical-align: middle; }
#header #subNav li+li{
	margin-left: 17px;
	margin-right: 5px;
}
/* #header #subNav > li + li:before { vertical-align: middle; margin: 0 10px; content: ""; width: 1px; height: 13px; background: url("/image/common/header/subNav/vertical_bar.png") no-repeat; display: inline-block; zoom: 1; *display: inline; } */

/* GNB */
#gnb { margin-top: 26px; text-align:left; }
#gnb > li { float: left; vertical-align: middle; display: inline-block; zoom: 1; *display: inline; }
#gnb > li > * { vertical-align: middle; }
#gnb > li + li:before { vertical-align: middle; margin: 0 50px; content: ""; width: 1px; height: 19px; background: url("/image/common/header/gnb/vertical_bar.png") no-repeat; display: inline-block; zoom: 1; *display: inline; }

/* contentWrap */
#contentWrap { margin-top: 25px; }

/* LNB */
.local-navigation-section { float: left; margin-right: 40px; }

#lnb { /* 공통 메뉴 스타일 */ width: 200px; /* 텍스트 스타일 */ /* 1레벨 형식 메뉴 스타일*/ /* 계층형 타입 */ /* 1레벨 */ /* 2레벨 */ /* li[leaf="0"][menulevel="1"].active > ul li:first-child a span{
		color: #d14841 !important;
} */ }
#lnb .menu-area { box-sizing: border-box; border-bottom: 5px solid #e3e3e3; }
#lnb .menu-area > ul { position: relative; border-top: 1px solid #e3e3e3; margin-top: 10px;}
#lnb .menu-area strong { width: 200px; box-sizing: border-box; display: inline-block; zoom: 1; *display: inline; }
#lnb .btn-find-my-service, #lnb .btn-i-heangbok { margin-top: 11px; }
#lnb li{letter-spacing: -0.8px; word-break:keep-all;}
#lnb li[menulevel="1"] { border-left: 1px solid #e3e3e3; border-right: 1px solid #e3e3e3; }
#lnb li[menulevel="1"] a { display: block; padding-left: 9px; }
#lnb li[menulevel="1"] a span { box-sizing: border-box; height: 40px; display: table-cell; vertical-align: middle; }
#lnb li[menulevel="1"] + li[menulevel="1"] { border-top: 1px solid #e3e3e3; }
#lnb a span { color: #333333; font-size: 13px; text-align: left; }
#lnb li[leaf="1"][menulevel="1"] { background: url("/image/common/lnb/ico_arrow_basic.png") no-repeat 184px center; }
#lnb li[leaf="1"][menulevel="1"].active { background: url("/image/common/lnb/ico_arrow_active.png") no-repeat 184px center; }
#lnb li[leaf="1"][menulevel="1"].active > a > span { color: #d14841 !important; }
#lnb li[leaf="0"][menulevel="1"] > a { padding-left: 6px; height: 40px; border-bottom: 1px solid #e3e3e3; background: url("/image/common/lnb/ico_arrow_basic2.png") no-repeat 184px center; font-weight: 700; }
#lnb li[leaf="0"][menulevel="1"].active > a { background: url("/image/common/lnb/ico_arrow_active2.png") no-repeat 184px center; }
#lnb li[leaf="0"][menulevel="1"].active > a > span { color: #333333 !important; font-size: 13px;}
#lnb li[leaf="0"][menulevel="1"] > ul { background: #f7f7f7; padding: 10px 0px; }
#lnb li[leaf="1"][menulevel="2"]+li[leaf="1"][menulevel="2"]{
	margin-top: 7px; 
}
#lnb li[leaf="1"][menulevel="2"] > a > span:before { position: absolute; top: 9px; left: -6px; display: inline-block; content: ""; width: 3px; height: 3px; background: #bdbdbd; vertical-align: middle; margin-right: 6px; }
#lnb li[leaf="1"][menulevel="2"] > a > span { position:relative; height: 20px; color: #555; }
#lnb li[leaf="1"][menulevel="2"].active > a > span { color: #d14841; }

/* @media \0screen { #lnb strong img { left: 0px !important; } } */
/* 레이아웃  */
body { min-width: 1000px; }

/* footer */
#footer { margin-top: 36px; border-top: 1px solid #e6e6e6; }
#footer .content-zone { position: relative; }
#footer #organizationInfo { padding-top: 49px; padding-bottom: 100px; }
#footer #organizationInfo > * { position: absolute; }
#footer #organizationInfo > div { top: 38px; left: 297px; }
#footer #organizationInfo > div > p { font-family: 'Nanum Gothic'; font-weight:700; color: #666666; font-size: 11px; }
@media \0screen{
	#footer #organizationInfo > div > p {}
}

#footer #organizationInfo .copyright { margin-top: 22px; font-weight: 800; color: #333333; }
#footer .link_mohw { left: 0; top: 30px; }
#footer .link_ssis { left: 117px; top: 30px; }

.content-zone, #relationOrganization { width: 1000px; margin: 0 auto; }

.content-view-section { position: relative; float: left; width: 760px; min-height: 530px; }

.btn-clean-center, .btn-web-accessible { position: absolute; top: 47px; }
.btn-web-accessible{display:block;}
.btn-clean-center { right: 84px; }

.btn-web-accessible { right: 0px; }
@media \0screen{
	.btn-clean-center { right: 75px; }
	.btn-web-accessible { right: 20px; }	
}

/* 현재 경로 */
#breadcrumbs { white-space: nowrap; line-height: 20px; text-align: right; }
#breadcrumbs li { display: inline-block; white-space: nowrap; vertical-align: middel; }
#breadcrumbs li span { font-weight: 700; font-size: 13px; color: #777; }
/* #breadcrumbs li + li:before { margin: 0 4px 0 2px; content: url("/image/common/breadcrumbs/ico_nav_arrow.png"); display: inline-block; zoom: 1; *display: inline; vertical-align: middle; } */
#breadcrumbs .root-page img{display: inline-block; vertical-align: middle; margin-right: 3px;}
/* #breadcrumbs .root-page { padding-left: 15px; background: url("/image/common/breadcrumbs/ico_home.png") no-repeat left 70%; } */
#breadcrumbs .now-page span { color: #333333 !important; }

/* 페이지네이션 */
.pagination { margin-top: 20px; text-align: center; }
.pagination .paging { display: inline-block; zoom: 1; *display: inline;} 
.pagination .paging button { float: left; display: table-cell; vertical-align: middle; }
.pagination .paging button, .pagination .paging strong { float: left; font-size: 14px; font-weight: 700; color: #666666; margin-left: 3px; margin-right: 3px; border: 1px solid #ddd; padding: 1px 3px; }
.pagination .paging button.active { background-color: #eb6b57; color: #fefefe; border: 1px solid #444;}
.pagination .paging .first, .pagination .paging .prev, .pagination .paging .next, .pagination .paging .last{
	position: relative;
	border: 0;
	padding: 0;
}

.pagination .paging .first,
.pagination .paging .prev,
.pagination .paging .next,
.pagination .paging .last{
	width: 20px;
	height: 20px;
}
/*컨텐츠 관련*/
.page-title { margin-top: 26px; font-weight: normal; font-size: 30px; color: #333333; font-family: 'Jeju Gothic'; }

/*# sourceMappingURL=layout.css.map */