@charset "utf-8";
.skipnav {position: fixed;width: 100%;background: #000;color: #fff;text-align: center;z-index: 6}
.skipnav a {display: block;color: #fff;font-weight: bold;width: 0;height: 0;line-height: 0;font-size: 0}
.skipnav a:focus, .skip a:active {display: block;padding: 0.5rem 0;width: auto;height: auto;line-height: 1.5;font-size: 1.4rem}

/* header  */
#header {position: relative;width: 100%;z-index: 5;background-color: #541E11;border-bottom:1px solid #DFDFDF;}
#header .header_top {width:100%; position:relative;}
#header.action {position: fixed;top:0;}
#header:after {content: '';clear: both;display: block}
#header .navi {margin: 0 auto; position: relative}
#header .header_top > h1 {padding:1.8rem 0 1.3rem 2rem; width:60%;}
#header .header_top > h1 > a {background: url(../images/logo.svg) no-repeat; background-size:contain; display:block; width:41.2rem;height: 6.3rem; font-size:0;}
#header .header_top > .m_menu {position: absolute;right: 0.8rem;top: 1.3rem;z-index: 5;color: black;display: block;display:none;}
nav:after {content: '';clear: both;display: block}
.menu_bg {width: 100%;height:38rem;position: absolute;top:8rem;display: none;left: 0;z-index: 4;background:#5a2619f0;}
#header .navi nav {background:white;}
/* Sitemap 
#header.all_menu_title {display:none;}
#header.all_menu_close {display:none;}
.sitemap_view {display:block !important; z-index:4;}
#header.sitemap_view {position:fixed; top:0; left:0; width:100%; height:auto;background-color:white; overflow-y:auto; }
#header.sitemap_view .all_menu_close {display:block; position:absolute; top:0; right:0; z-index:2; background:url(../images/icon/icon_close_w.gif) no-repeat 0 0; width:7rem; height:7rem;}
.sitemap_view .utility {display:none;}
.sitemap_view nav > ul.gnb {display:block; padding-top:12.5rem;overflow:hidden; max-width:110rem; width:100%; margin:0 auto 10rem;}
.sitemap_view nav > ul.gnb > li {overflow:hidden; border-bottom:1px solid #ddd;}
.sitemap_view nav > ul.gnb > li > a {float:left; width:30%;font-size:3rem; font-weight:600; color:#551f12;text-align:left;padding:3.1rem 0; }
.sitemap_view nav > ul.gnb > li > ul {float:left; width:70%; position:unset; overflow:hidden; padding-top:2rem;}
.sitemap_view nav > ul.gnb > li > ul > li {float:left;}
.sitemap_view nav > ul.gnb > li > ul > li a { font-family:"Pretendard"; font-weight:300; letter-spacing:-0.05rem; font-size:1.7rem; color:#767680;}
.sitemap_view nav > ul.gnb > li > ul > li a:hover { color:#551f12; text-decoration: underline; background:none;}
.sitemap_view nav > ul.gnb > li > a.on::before, .sitemap_view  nav > ul.gnb > li > a:hover::before {display:none;}
.sitemap_view .menu_bg {display:none !important;}*/

/* utility*/
.utility {gap:1.5rem; font-family:"Pretendard"; letter-spacing:-0.05rem; position:absolute; top:2rem; right:4rem; display: flex;align-items: center;padding: 0.6rem 0;justify-content: flex-end; -webkit-box-pack: end; -moz-box-pack: end; -ms-flex-pack: end; -webkit-justify-content: flex-end;}
.utility li {position:relative}
.utility li a {display:block; font-size: 1.8rem;font-weight: 500; padding:0.9rem 1.5rem 0.8rem; color:white;}
.utility li.btn_search_open {}
.utility li.btn_search_open a {width:2.3rem; height:2.3rem; background:url(../images/icon/icon_search.svg) no-repeat center center; background-size:2.3rem 2.2rem;}
.utility li.btn_search_open a.close {width:2.3rem; height:2.3rem; background:none; position:relative;}
.utility li.btn_search_open a.close::before {content: '';  position: absolute; right:50%; top: 0; width: 0.3rem; height: 2rem; transform: rotate(45deg); background-color: #697283; border-radius:1rem;}
.utility li.btn_search_open a.close::after {content: '';  position: absolute; right:50%; top: 0; width: 0.3rem; height: 2rem; transform: rotate(135deg); background-color: #697283;border-radius:1rem;}
.utility li.login a {}
.utility li.join a {background:white; border-radius:3rem; color:#202020;}
.utility li.account a {background:url(../images/icon/icon_mypage.svg) no-repeat 0 center; background-size:1.5rem; padding-left:2rem;}
.utility li.all_menu_btn {margin-right:20%;}
.utility li .all_menu {vertical-align:middle; width:2.3rem; height:2.3rem; background:url(../images/icon/icon_m.svg) no-repeat center center; background-size:2.3rem 2.2rem}


/* Footer (디자인 미적용) */
footer {background-color: #552012;color: #fff;position: relative; font-family:"Pretendard"; letter-spacing: -0.05rem; padding:2rem 0 2rem;}
footer .footer_wrap {width:100%; max-width:140rem;margin:0 auto; overflow:hidden;}
footer .footer_wrap .f_link {width:100%; overflow:hidden;}
.f_link > .link_wrap li {float:left; position:relative;}
.f_link > .link_wrap li:not(:last-child)::after {content: ''; display:block; position:absolute; top:33%; right:-1.5rem; width:0.1rem; height:30%; background:#997D79; vertical-align: middle;}
.f_link > .link_wrap li + li {margin-left:3rem;}
.f_link > .link_wrap li a {padding:0.5rem 0;display: block;white-space: nowrap;color: #fff; font-size:2.1rem; font-weight:600;}
.f_link > .link_wrap li a:hover, .f_link .link_wrap li a:focus {color: #fabe00}
.footer_wrap .address_wrap {padding-top:1rem;}
.footer_wrap .address_wrap address {font-size:1.8rem; line-height:1.4; }

.search_bar {position:relative;margin:4rem auto; width:48rem;}
.search_bar input[type="text"] {z-index:2; position:relative; border:2px solid #541E11; border-radius:2rem; font-size:1.8rem; font-family:'Pretendard'; font-weight:400; padding:0 3rem; width:100%; height:5.8rem; }
.search_bar .btn_search {position:absolute;z-index:2;  top:0; right:0; width:5.8rem; height:5.8rem; background:#541E11; border-radius:2rem 2rem 1rem 2rem}
.search_bar .btn_search::after{content:'';position:absolute;right:2rem;top:2rem;width:2rem;height:2rem;border:3px solid  white;border-radius:100%;}
.search_bar .btn_search::before{content:'';position:absolute;right:1.6rem;top:3.7rem;width:0.8rem;height:0.3rem;transform:rotate(45deg);background-color:white; border-radius:1rem;}
.search_bar .search_recommend {z-index:1; overflow:hidden; text-align:left; padding:2.5rem 0 1.5rem; display:none; position:absolute; top:4rem; left:0; width:100%; border:2px solid #541E11; border-radius:0 0 2rem 2rem;background-color:white;}
.search_bar .search_recommend li {position:relative;}
.search_bar .search_recommend li a {display:block; padding:0.6rem 3rem;}
.search_bar .search_recommend li:hover {background:#F0F6FE; color:#541E11;}
.search_bar .search_recommend li:hover a{color:#541E11;}
.search_bar .search_recommend li a.delete_result {display:block;position:absolute; top:0; right:0; width:3rem; height:3rem;}
.search_bar .search_recommend li a.delete_result::before {content:'+'; font-size:2rem;font-weight:600; display:block;transform:rotate(-45deg);-webkit-transform:rotate(-45deg);}
.search_bar .search_recommend li a.delete_result:hover {font-weight:800;}
.section_wrap {display: -webkit-flex;display: flex;max-width:140rem; width:100%;  margin:0 auto; position:relative; padding-top:6rem;}

.lnb {-webkit-flex:1; -ms-flex:1; flex: 1; max-width:25rem; width:100%; margin-right:4rem; }
/*.lnb {position: absolute;max-width: 140rem;left: 50%;z-index: 1;transform: translate(-50%, 0);width: 100%}*/
.lnb > h3 a {display:block; padding:2.6rem 2rem; background:#541E11; background-size:5.9rem 1.8rem;color: #fff;font-size: 2.3rem;font-weight: 600;color:#fff; }
.lnb > ul > li.active > a, .lnb > ul > li > ul > li:hover > a {color: #541E11;background:url(../images/icon/icon_lnb_arrow.svg) no-repeat right 2rem top 2rem; background-size:3rem;border-bottom: 1px solid  #5F2F20;}
.lnb > ul > li > a {display: block;  padding:2.1rem 2rem 2rem;font-size:1.8rem;border-bottom: 1px solid  #C0C0C0;position: relative; color:#999;}
.lnb > ul > li > ul {background-color: #edeff7;padding: 0.5rem;border-bottom: 1px solid  #E7E7E7;display: none}
.lnb > ul > li > ul > li > a {padding: 0.3rem 0.3rem 0.3rem 3rem;display: inline-block;position: relative;font-size: 1.4rem;}
.lnb > ul > li > ul > li > a:before {content: '';position: absolute;left:1rem;top: 1.2rem;background-color: #c9cbd5;width: 0.5rem;height: 0.3rem;}

/*.location {margin: 0 auto;position: relative;font-weight: 200;max-width: 140rem;padding-left: 25rem}*/
.location {position:absolute; top:5.7rem; right:0; }
.location > ul {position: relative; width:100%;  text-align:right; }
.location > ul > li {position: relative; display:inline-block;}
.location > ul > li a {display:block; color:#303038; padding:0 2rem;font-size:1.7rem;}
.location > ul > li:not(:last-child) > a::after {content:""; position:absolute; top:0.9rem; right:-0.5rem; display:block;border:solid #B4BBC5;width:0.8rem;height:0.8rem;margin:0 0 0.1rem 0.9rem;border-width:0 0.2rem 0.2rem 0;transform:rotate(-45deg);-webkit-transform:rotate(-45deg);}

/* sub visual */
/* JJ Added */
.contents_wrap {position:relative;-webkit-flex: 3; -ms-flex: 3; flex: 3; width:100%; max-width:140rem;padding:0 0 20rem 0; min-height:100rem;overflow:hidden;}
/*.contents_wrap {margin: 0 auto;position: relative;font-weight: 200;max-width:142rem;padding-left: 25rem;min-height:80rem}*/
.webwach-logo > img {max-width:90.9rem;width:100%;}
.contents_wrap.maxw1060 {overflow:visible;}

.error_page {width:100%; max-width:120rem; margin:10rem auto; border:3px solid #002F8B; box-shadow:5px 4px 9px 3px #ccc; border-radius:2.5rem; padding:10rem 0; text-align:center;}
.error_page h1 {background: url(../images/logo_brown.svg) no-repeat center top; background-size:contain; display:block; width:100%;height:5.6rem; font-size:0;}
.error_page p.title {font-size:5rem; font-weight:700; margin:4rem 0 0.3rem;}
.error_page p.txt {font-size:2.4rem; }

@media screen and (max-width: 1400px) {
	nav > ul.gnb {padding:0 2rem;}
	.section_wrap {padding:5rem 2rem;}
	.footer_wrap {padding:0 2rem;}
	.utility li.all_menu_btn {margin-right:0;}
}

@media screen and (min-width: 1201px) {
	nav > ul.gnb {width:100%; max-width:140rem; margin:0 auto;display: flex; display: -webkit-box;  display: -moz-box; display: -ms-flexbox; display: -webkit-flex;justify-content: space-between; -webkit-box-pack: justify; -moz-box-pack: justify; -ms-flex-pack: justify; -webkit-justify-content: space-between;}
	nav > ul.gnb > li {position: relative}
	nav > ul.gnb > li > a {display: block;line-height: 2.2rem;text-align: center;position: relative;font-weight: 600;font-size: 2.7rem;padding:3rem 0 2.8rem;color: #551f12;}
	nav > ul.gnb > li > a:hover, nav > ul > li > a:focus, nav > ul > li > a:active {color:#551f12}
	nav > ul.gnb > li > ul {position: absolute; min-width:16rem; display: none;z-index: 5;top:10rem; left:-1.5rem;font-family:"Pretendard"; letter-spacing:-0.05rem; white-space:nowrap ;}
	nav > ul.gnb > li > ul > li > a {display: block; position:relative; padding:0.6rem 4rem 0.5rem 1.5rem;font-size: 1.7rem; color:white;}
	nav > ul.gnb > li > ul > li a:hover, nav > ul > li > ul > li a:focus {background:#EAB2A5; border-radius:3rem; color:#551f12; font-weight:700;}
	nav > ul.gnb > li > ul > li a:hover::after, nav > ul > li > ul > li a:focus::after {content:"";display:block; position:absolute; top:41%; right:1.5rem; border:solid #551f12;width:0.7rem;height:0.7rem;margin:0 0 0.1rem 0.9rem;border-width:0 0.2rem 0.2rem 0;transform:rotate(-45deg);-webkit-transform:rotate(-45deg);} 
	nav > ul.gnb > li > ul > li > ul {margin-bottom:1rem;}
	nav > ul.gnb > li > ul > li > ul > li > a {display:block; position:relative; font-size:1.6rem;padding:0.3rem 4rem 0.3rem 1.5rem; color:white;}
	nav > .m_member {display:none;}
}

@media screen and (max-width: 1200px) {


	/* header */
	nav.sitemap_view {display:none;}
	.menu_bg {height:auto;background:white;}
	#header > .navi > h1 {position: relative;width:auto; display:block; float:left; z-index: 4;top:unset; left:4rem;}
	#header > .navi > h1 > a {margin-left:0;}
	.utility {display:none;}
	.m_util {position:absolute; top:2.5rem; right:2rem;}
	#header .header_top >.m_util > .m_menu {display:inline-block;vertical-align:middle; width:3rem; height:3rem; background:url(../images/icon/icon_m.svg) no-repeat center center; background-size:3rem 3rem;}
	#header .header_top >.m_util > .m_menu.off {background:url(../images/icon/icon_close.svg) no-repeat center center; background-size:3rem;}
	.m_util .btn_search {display:inline-block; vertical-align:middle; margin-right:2rem;width:3rem; height:3rem; background:url(../images/icon/icon_search.svg) no-repeat center center; background-size:3rem;}
	.m_util .btn_search.close  {background:url(../images/icon/icon_close.svg) no-repeat center center; background-size:3rem;}
	.board_top .search_bar {width:100%; margin:3rem auto;}
	#header .navi nav {display: none;background:white; background-size:contain; top:0;margin-left: 0;position: absolute;width: 100%;overflow: auto;height:auto; padding:0 3rem 2rem;}
	nav > .m_member {display:block; overflow:hidden; border-radius:0.5rem; width:100%; margin-top:2rem;}
	nav > .m_member .login {font-size:2.8rem; font-weight:700; }
	nav > .m_member .join {float:right; background:#8D8D97; border-radius:0.5rem; color:white; padding:0.3rem 1rem; margin-top:0.5rem;}

	nav > .m_member .right {display:block; float:right;}
	nav > .m_member .right .account {display:inline-block; margin:0.8rem 3rem 0 0; width:2.2rem; height:2.2rem; background:url(../images/icon/icon_mypage_m.svg) no-repeat center center; background-size:contain;}
	nav > .m_member .right .logout {display:inline-block; margin:0.8rem 0 0 0; width:2.2rem; height:2.2rem;  background:url(../images/icon/icon_logout_m.svg) no-repeat center center; background-size:contain;}
	nav > ul.gnb {display:block; padding:2rem 0; }
	nav > ul.gnb > li > ul {display:none;}
	nav > ul.gnb > li > a {font-size:2rem; position:relative;  }
	nav > ul.gnb > li a {padding:0.8rem 0;display:block; }
	nav > ul.gnb > li.active > a {color:#551f12;}
	nav > ul.gnb > li.active > a::after {display:none;}
	nav > ul.gnb > li > ul {margin-bottom:1rem;}
	nav > ul > li.depth {position:relative; }
	nav > ul > li.depth > a::after  {content:"";display:block; position:absolute; top:1.5rem; right:0.5rem; border:solid #aaa;width:1rem;height:1rem;margin:0 0 0.1rem 0.9rem;border-width:0 0.3rem 0.3rem 0;transform:rotate(-45deg);-webkit-transform:rotate(-45deg);}
	nav > ul > li.depth > ul > li a {display: block; position:relative; padding: 0.8rem 3rem 0.8rem 3rem;font-size: 1.8rem; font-weight: 600;color: black;}

	nav > ul.gnb > li > ul > li a:hover, nav > ul > li > ul > li a:focus {background:#EAB2A5; border-radius:3rem; color:#551f12; font-weight:700;}
	nav > ul.gnb > li > ul > li a:hover::after, nav > ul > li > ul > li a:focus::after {content:"";display:block; position:absolute; top:41%; right:3rem; border:solid #551f12;width:0.7rem;height:0.7rem;margin:0 0 0.1rem 0.9rem;border-width:0 0.2rem 0.2rem 0;transform:rotate(-45deg);-webkit-transform:rotate(-45deg);} 


	.utility .all_menu_btn {display:none}

	.section_wrap {display:block;}
	.lnb {display:none;}
	.contents_wrap {padding:0;max-width:100%;}
	.sub_visual .sub_title {padding:6rem 0;}
	.sub_visual .sub_title h2 {font-size:4rem;}
	

	.f_link > .link_wrap {max-width:100%;}
	.location {display:none;}

	.error_page {margin:2rem; padding:10rem 2rem; width:auto; max-width:unset; }
	.error_page h1 {height:4rem;}
	.error_page p.title {font-size:3rem;}
	.error_page p.txt {font-size:1.8rem; }
	.f_link > .link_wrap li a {font-size: 1.6rem;}

}

@media screen and (max-width: 640px) {
	#header .header_top > h1 > a {width:30rem; height:5.3rem;}


	/* 디자인 미적용 */
	.f_link > .link_wrap {text-align:center;}
	.f_link > .link_wrap li {float:unset; display:inline-block; width:auto;margin:0 2rem;}
	.f_link > .link_wrap li + li {margin:0 2rem;}
	.f_link > .link_wrap li:not(:last-child)::after {display:none;}
	.f_link > .link_wrap li a {font-size: 1.4rem;}

}