@charset "utf-8";
h5.main_title {font-size:4rem; font-weight:700;display: inline-block; width: auto; position: relative; margin-bottom:3rem;}
h5.main_title em {color:#a92c0f;}
h5.main_title span {display:block; position:absolute; top:-2.5rem; right:-7rem;width:8.1rem; height:4.8rem;color:white; font-size:1.8rem; font-weight:700; text-align:center;padding-top:0.5rem; background:url(../images/main/icon_balloon.svg) no-repeat 0 0; background-size:contain; }
.btn_view_more {position:absolute; top:0; right:0; }
.btn_view_more a {display:block;background:url(../images/main/icon_view_more.png) no-repeat 0 0; background-size:contain; width:5.3rem; height:5.3rem;}
.main_wrap > div::after {clear:both; content: ''; display:block;}
.main_wrap .left {width:50%; float:left; position:relative;}
.main_wrap .right {width:calc(50% - 4rem);; float:right;position:relative;}

/* silide banner */
.slide_show{padding:0;background-color:transparent; position:relative;}
.slide_show .swiper_wrap{width:100%;}
.slide_show .swiper-ctrl{z-index:2;}
.slide_show .main_visual_btn {z-index:2;position: absolute;left:0;top:31rem;width: 100%;}
.slide_show .visual_pagination-wrap{width:100%;}
.slide_show .swiper-ctrl .btn_prev{width:0.7rem; height:1.2rem; background:url(../images/icon/icon_pre.svg) no-repeat center center; background-size:contain;vertical-align:middle;}
.slide_show .swiper-ctrl .btn_next{width:0.7rem; height:1.2rem; background:url(../images/icon/icon_next.svg) no-repeat center center; background-size:contain;vertical-align:middle; }

/* main visual banner */
.slide_show.main_visual .swiper_wrap .swiper_slide{width:100%; height:70rem; transition:ease-in-out; background-repeat:no-repeat; background-size:cover; background-position:center bottom;color:white;}
.slide_show.main_visual .swiper_wrap .swiper_slide.swiper_slide_01 {background-image:url(../images/main_visual01.jpg);}
.slide_show.main_visual .swiper_wrap .swiper_slide.swiper_slide_02 {background-image:url(../images/main_visual01.jpg);}
.slide_show.main_visual .swiper_wrap .swiper_slide.swiper_slide_03 {background-image:url(../images/main_visual01.jpg);}
.slide_show.main_visual .swiper_wrap .swiper_slide p {position:relative; max-width:140rem; margin:14rem auto 0; font-size:6.1rem; font-weight:800; line-height:1.3;}
.slide_show.main_visual .swiper_wrap .swiper_slide p em {display:block; padding-top:0.7rem;font-size:3.2rem;font-weight:700; padding-top:3rem;line-height:1.4;}
.slide_show.main_visual .swiper_wrap .swiper_slide p::before {content: ''; display:block;background:url(../images/main_visual_logo.svg) no-repeat 0 0; background-size:contain; width:19.8rem; height:7.2rem; margin-bottom:1.5rem; }
.slide_show.main_visual .swiper-ctrl .btn_prev{position:absolute; left:4rem; top:0; width:7.2rem; height:7.2rem; background:url(../images/icon/icon_mainvisual_pre.svg) no-repeat center center; background-size:contain;vertical-align:middle;}
.slide_show.main_visual .swiper-ctrl .btn_next{position:absolute; right:4rem; top:0; width:7.2rem; height:7.2rem; background:url(../images/icon/icon_mainvisual_next.svg) no-repeat center center; background-size:contain;vertical-align:middle; }
.slide_show.main_visual .play_area {width:100%; max-width:140rem; margin:23.7rem auto 0; position:relative;}
.slide_show.main_visual .visual_pagination-wrap .btn_autoplay{position:absolute; top:0.5rem; left:2rem; width:1.3rem;height:1.3rem; background:url(../images/icon/icon_play.png) no-repeat center center; background-size:contain;vertical-align:middle;  }
.slide_show.main_visual .visual_pagination-wrap .btn_autoplay.on {width:1.3rem; height:1.3rem; background:url(../images/icon/icon_pause.svg) no-repeat center center; background-size:contain;border:0;vertical-align:middle;margin:0; }
.slide_show.main_visual .swiper-pagination-bullets {width:100%; max-width:140rem; margin:0 auto 0; padding-left:5.4rem;}
.swiper-pagination-bullet-active {position:relative;}
.swiper-pagination-bullet-active::after {content:''; display:block; position:absolute; top:-1rem; left:-1rem; width:3rem; height:3rem; border:1px solid white; border-radius:100%;}

.main_wrap {width:100%; max-width:140rem; margin:0 auto;}
/* second banner */
.second_banner {overflow:hidden; margin:5rem 0 10.5rem; display: flex; display: -webkit-box;  display: -moz-box; display: -ms-flexbox; display: -webkit-flex;}
.second_banner .weather {width:100%; max-width:24rem;}
.second_banner .benners {width:100%; max-width:116rem;display: flex; display: -webkit-box;  display: -moz-box; display: -ms-flexbox; display: -webkit-flex;justify-content: space-between; -webkit-box-pack: justify; -moz-box-pack: justify; -ms-flex-pack: justify; -webkit-justify-content: space-between;}
.second_banner .benners li a {position:relative; display:block; text-align:center; border-radius:100%; width:18rem; height:18rem; padding-top:11rem;font-size:2.4rem; font-weight:700; }
.second_banner .benners li:first-child a {background:#AED7F1 url(../images/main/icon_banner01_01.svg) no-repeat center top 3rem; background-size:6.4rem 4.6rem; ;}
.second_banner .benners li:nth-child(2) a {background:#BDDB7E url(../images/main/icon_banner01_02.svg) no-repeat center top 3rem; background-size:6.4rem 4.6rem; ;}
.second_banner .benners li:nth-child(3) a {background:#FCD559 url(../images/main/icon_banner01_03.svg) no-repeat center top 3rem; background-size:6.4rem 4.6rem; ;}
.second_banner .benners li:nth-child(4) a {background:#A9D7AD url(../images/main/icon_banner01_04.svg) no-repeat center top 3rem; background-size:6.4rem 4.6rem; ;}
.second_banner .benners li:nth-child(5) a {background:#F5B9C0 url(../images/main/icon_banner01_05.svg) no-repeat center top 3rem; background-size:6.4rem 4.6rem; ;}
.second_banner .benners li:nth-child(6) a {background:#F8A181 url(../images/main/icon_banner01_06.svg) no-repeat center top 3rem; background-size:6.4rem 4.6rem; ;}
.second_banner .weather {position:relative; padding-top:4.2rem;}
.second_banner .weather h6 {font-size:2.2rem; font-weight:700;}
.second_banner .weather .temperature {margin-top:1rem; font-size:2.4rem; font-weight:900; padding:1.5rem 0 2rem 7rem;}
.second_banner .weather .temperature em {font-size:1.6rem;padding-left:0.3rem;}
.second_banner .weather .temperature.sun {background:url(../images/main/icon_sun.svg) no-repeat 0 0; background-size:6rem;}
.second_banner .weather > ul {position:absolute; top:4.5rem; right:3rem; width:100%; max-width:12rem; font-size:1.5rem; text-align:right;}
.second_banner .weather > ul li {margin-bottom:0.3rem;}

/* third banner */
.third_banner {margin-bottom:9.5rem;}
.third_banner .tab_wrap_inner {margin-left:18rem; margin-top:-9rem;}
.third_banner .tab_wrap_inner > li {flex:0 0 auto; }
.third_banner .tab_wrap_inner > li::after {content:''; display:block; z-index:-1; position:absolute;background:#F5F5F5;  left:0; top:0.5rem; width:12rem; height:4.8rem;}
.third_banner .tab_wrap_inner > li > a{display:block;}
.third_banner .tab_wrap_inner > li.on > a {background:#812913;border-radius:3rem;color:#fff}
.third_banner .tab_wrap_inner > li:first-child::after {border-radius:3rem 0 0 3rem; left:18rem}
.third_banner .tab_wrap_inner > li:last-child::after {border-radius:0 3rem 3rem 0;left:30rem}
.third_banner .left .swiper_wrapper {padding-left:0.1rem;}
.third_banner .swiper_wrapper > li {box-sizing: border-box; width:calc(50% - 1rem);margin-right:2rem;}
.third_banner .tab_con_inner {position:absolute; width:100%; max-width:70rem; left:0; top:9.4rem; display:none; }
.third_banner .left .tab_con_inner .swiper_container {padding-right:0.1rem;}
.third_banner .swiper_wrapper > li > a .title {font-size:1.9rem; font-weight:700; margin-top:2.3rem; margin-bottom:1.5rem;white-space:nowrap; overflow:hidden;text-overflow:ellipsis;width:100%;}
.third_banner .swiper_wrapper > li > a .title .icon_new {margin-right:1rem;}
.third_banner .swiper_wrapper > li > a .txt {color:#767676;  font-size:1.7rem; line-height:1.2;overflow: hidden; word-break: break-all ; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp:2 ; -webkit-box-orient: vertical;}
.third_banner .left .swiper_wrapper > li > a {padding:3rem 3rem 3.7rem 3rem; display:block;border:1px solid #EBEBEB; border-radius:2rem;}
.third_banner .left .slide_show .swiper-ctrl .btn_prev {position:absolute; top:calc(50% - 02.4rem); left:-2rem; z-index:2; width:4.8rem;height:4.8rem;background: url(../images/icon/icon_pre_g.svg) no-repeat center center;background-size: contain;}
.third_banner .left .slide_show .swiper-ctrl .btn_next{position:absolute; top:calc(50% - 02.4rem); right:-2rem; z-index:2;width:4.8rem; height:4.8rem; background:url(../images/icon/icon_next_g.svg) no-repeat center center; background-size:contain;}
.third_banner .left .btn_view_more {display:none;}
.third_banner .right > ul {overflow: hidden; gap:2rem; display:flex; display:-webkit-flex; flex-wrap:wrap; -webkit-flex-wrap:wrap;}
.third_banner .right > ul > li {border:1px solid #ddd; border-radius:2rem; overflow:hidden; width: calc(50% - 1rem); position: relative; height: 100%;}
.third_banner .right > ul > li img {width:100%; height:100%; max-height:20.5rem;}
.third_banner .right .swiper_wrapper > li > a {padding:0; display:block;border:1px solid #EBEBEB; border-radius:2rem; overflow:hidden;}
.third_banner .right .swiper_wrapper > li > a img {width:100%; height:100%;}
.third_banner .right .slide_show .swiper-ctrl {position:absolute; bottom:-3.5rem; right:0;}
.third_banner .right .slide_show .swiper-ctrl .btn_prev {  width:1rem;height:1.7rem;background: url(../images/icon/icon_pre_b.svg) no-repeat center center;background-size: contain;}
.third_banner .right .slide_show .swiper-ctrl .btn_next{width:1rem;height:1.7rem; background:url(../images/icon/icon_next_b.svg) no-repeat center center; background-size:contain;}
.third_banner .right .slide_show .swiper-ctrl .btn_autoplay{width:1.3rem;height:1.3rem; margin:0 0.5rem 0 0.9rem; background:url(../images/icon/icon_play_b.png) no-repeat center center; background-size:contain;vertical-align:middle;  }
.third_banner .right .slide_show .swiper-ctrl .btn_autoplay.on {width:1.3rem; height:1.3rem;margin:0 0.7rem; background:url(../images/icon/icon_pause_b.svg) no-repeat center center; background-size:contain;border:0;vertical-align:middle; }
/* fourth banner */
.fourth_banner {margin-bottom:7.5rem;}
.fourth_banner .left .banner {width:100%}
.fourth_banner .left .banner img {width:100%; height:100%; max-height:36.5rem;}
.fourth_banner .left .banner .txt {font-size:2.4rem; font-weight:700; padding:1.3rem 2rem;white-space:nowrap; overflow:hidden;text-overflow:ellipsis;width:100%;}
.fourth_banner .right li + li {margin-top:2rem;}
.fourth_banner .right li a {display:block; overflow:hidden;}
.fourth_banner .right li a img {float:left; width:40%;}
.fourth_banner .right li a > div {float:right; width:55%; margin-left:5%; }
.fourth_banner .right li a > div p.title {font-size:2.4rem; font-weight:700; padding:1.3rem 0;white-space:nowrap; overflow:hidden;text-overflow:ellipsis;width:100%;}
.fourth_banner .right li a > div p.txt {font-size:1.7rem; font-weight:700;overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp:2 ; -webkit-box-orient: vertical;}
/* fifth_banner */
.fifth_banner {position:relative; margin-bottom:7rem;}
.fifth_banner ul {width:100%; display: flex; gap:2rem; display: -webkit-box;  display: -moz-box; display: -ms-flexbox; display: -webkit-flex;justify-content: space-between; -webkit-box-pack: justify; -moz-box-pack: justify; -ms-flex-pack: justify; -webkit-justify-content: space-between;}
.fifth_banner ul li {width:calc(25% - 2rem);}
.fifth_banner ul li img {width:100%;}
.fifth_banner .txt {font-size:2.4rem; text-align:center; font-weight:700; padding:1.3rem 2rem 0;white-space:nowrap; overflow:hidden;text-overflow:ellipsis;width:100%;}

/*family_site */
.family_site {width:100%; border-top:1px solid #ddd; padding:2rem 0; position:relative;}
.family_site .slide_show {width:100%; max-width:140rem; margin:0 auto;}
.family_site .slide_show .swiper_wrap { padding-left:20%; padding-right:25%;}
.family_site .swiper-ctrl {position:absolute; top:1.5rem; left:0;}
.family_site .swiper-ctrl > span {font-size:1.7rem; font-weight:600; padding-right:3rem;}
.family_site .swiper-ctrl > div {display:inline-block; background:#767676; border-radius:2rem; padding:0.3rem 2rem; }
.family_site .btn_autoplay{width:1.3rem;height:1.3rem; margin:0 1rem 0 1.1rem; background:url(../images/icon/icon_play.png) no-repeat center center; background-size:contain;vertical-align:middle;  }
.family_site .btn_autoplay.on {width:1rem; height:1rem; margin:0 1.2rem; background:url(../images/icon/icon_pause.svg) no-repeat center center; background-size:contain;border:0;vertical-align:middle; }
.family_site .swiper_slide {flex-shrink: 0; text-align:center; }
.family_site .swiper_slide a {display:block; max-height:6rem; border:1px solid #ddd; border-radius:0.5rem; overflow:hidden;}
.family_site .swiper_container {padding-right:3rem;}
.family_site .btn_family_site {position:absolute; width:20%; bottom:0; right:0; background:white;border-radius:0.5rem; overflow:hidden;}
.family_site .btn_family_site > a {display:block; background:white url(../images/icon_family_up.gif) no-repeat right 1rem top 1rem; background-size:4rem; width:100%; height:6rem; padding:1.7rem 2rem 0; font-size:1.8rem; font-weight:600; border:1px solid #ddd; border-radius:0.5rem;}
.family_site .btn_family_site > a.on{border:1px solid #551F12; background:#551F12 url(../images/icon_family_down.gif) no-repeat right 1rem top 1rem; background-size:4rem; color:white; border-radius:0.5rem 0.5rem 0 0;}
.family_site .btn_family_site > ul {display:none;border:1px solid #551F12; padding:1rem 0;background:#F6F5F6;border-radius:0 0 0.5rem 0.5rem;}
.family_site .btn_family_site > ul li a {position:relative; display:block; padding:0.2rem 1rem 0.2rem 3rem; font-size:1.6rem;}
.family_site .btn_family_site > ul li a::before {content: ''; display:block; position:absolute;left:2rem; top:1.2rem; width:0.3rem; height:0.3rem; border-radius:100%; background:black; }
.family_site .btn_family_site > ul li a:hover, .family_site .btn_family_site > ul li a:focus {text-decoration:underline;}


@media screen and (max-width: 1400px) { 
    .slide_show.main_visual .swiper_wrap .swiper_slide p,
    .slide_show .visual_pagination-wrap,
    .main_wrap,
    .family_site .slide_show {padding:0 4rem;}
    .second_banner .benners {max-width:125rem;}
    .second_banner .weather {max-width:15rem;}
    .second_banner .benners li a {width:14rem; height:14rem; font-size:1.8rem;padding-top:8.5rem; }
    .second_banner .weather > ul {right:1rem;}
    .second_banner .weather > ul {position:unset;}
    .second_banner .weather {padding-top:0;}
    .family_site .swiper-ctrl {left:4rem;}
    .family_site .btn_family_site {right:4rem;}
}
@media screen and (max-width: 1100px) {  /* 반응형 레이아웃 변경 시작 */
    .second_banner {display:block;}
    .second_banner .benners {gap:2rem;max-width:100%; margin-top:4rem;flex-wrap: wrap; -webkit-box-lines: multiple; -moz-box-lines: multiple; -ms-flex-wrap: wrap; -webkit-flex-wrap: wrap;justify-content: center; -webkit-box-pack: center; -moz-box-pack: center; -ms-flex-pack: center; -webkit-justify-content: center;}
    .second_banner .benners li a {width:17rem; height:17rem; font-size:1.8rem;padding-top:10rem; }

    .second_banner .weather {max-width:36rem; margin:0 auto;}
    .second_banner .weather h6 {text-align:center;}
    .second_banner .weather > ul {position:absolute;}
    .main_wrap .left {float:unset; width:100%; margin-bottom:6rem;}
    .main_wrap .right {float:unset; width:100%;}
    .third_banner .tab_con_inner {max-width:100%;}
    .fourth_banner .left .banner img {max-height:100%;}
    .fifth_banner ul {flex-wrap: wrap; -webkit-box-lines: multiple; -moz-box-lines: multiple; -ms-flex-wrap: wrap; -webkit-flex-wrap: wrap;}
    .fifth_banner ul li {width: calc(50% - 2rem); margin-bottom:2rem;}
    .swiper_slide {padding-right:0.2rem;padding-left:0.2rem;}
    .family_site .btn_family_site > a {font-size:1.4rem; padding:1.7rem 1rem 0;}
    .family_site .swiper-ctrl > span {padding-right:0.5rem;}

    .f_link > .link_wrap li a {font-size:1.8rem;}
    .footer_wrap .address_wrap address {font-size:1.6rem;}
}


@media screen and (max-width: 800px) {
    .family_site .slide_show .swiper_wrap {padding:7rem 0 0;}
    .family_site .btn_family_site {bottom:7rem;width:40%;}
    .family_site .btn_family_site > a {padding:1.7rem 2rem 0;}
}

@media screen and (max-width: 640px) {
    .slide_show.main_visual .swiper_wrap .swiper_slide {height:35rem;}
    .slide_show .visual_pagination-wrap {}
    .slide_show .main_visual_btn {top:17rem;}
    .slide_show.main_visual .swiper_wrap .swiper_slide p {margin-top:5rem; font-size:3rem;}
    .slide_show.main_visual .swiper_wrap .swiper_slide p::before {height:5rem; }
    .slide_show.main_visual .swiper_wrap .swiper_slide p em {font-size:2.2rem;}
    .slide_show.main_visual .swiper-ctrl .btn_prev {left:0; width:4rem;}
    .slide_show.main_visual .swiper-ctrl .btn_next {right:0; width:4rem;}
    .slide_show.main_visual .play_area {margin-top:13rem;}

    .third_banner .tab_wrap_inner {margin:0;}
    .third_banner .tab_wrap_inner > li:first-child::after {left:0; top:9.5rem; height:5.5rem;}
    .third_banner .tab_wrap_inner > li:last-child::after {left:12rem; top:9.5rem;height:5.5rem;}
    .third_banner .tab_con_inner {top:18rem;}



}


